Repository Uniswap/uniswap-ai: changes, and which lefthook commands are due for each by the changed paths.
All: format, actionlint, eval-coverage

lefthook.yml:

# Lefthook configuration for git hooks

# <https://github.com/evilmartians/lefthook>

pre-commit:
  parallel: false
  commands:
    format:
      glob: '*.{js,ts,tsx,json,md}'
      run: npx nx format:write --uncommitted
      stage_fixed: true
    lint:
      run: npx nx affected --target=lint --base=HEAD~1 --head=HEAD
    actionlint:
      glob: '.github/workflows/*.yml'
      # shellcheck disabled: env vars set via GitHub Actions env: context are
      # safe from word splitting; shellcheck produces ~44 false-positive
      # info/style findings (SC2086, SC2129). Matches CI config in zizmor.yml.
      run: actionlint -shellcheck=""
    eval-coverage:
      glob: 'packages/plugins/**/*'
      run: npx tsx scripts/check-eval-coverage.ts --staged

feat(uniswap-trading): integrate Tempo CLI as primary payment interface
  docs/skills/pay-with-any-token.md
  evals/suites/pay-with-any-token/prompt-wrapper.js
  evals/suites/pay-with-any-token/results.json
  evals/suites/pay-with-any-token/rubrics/completeness.txt
  evals/suites/pay-with-any-token/rubrics/correctness.txt
  packages/plugins/uniswap-trading/.claude-plugin/plugin.json
  packages/plugins/uniswap-trading/skills/pay-with-any-token/SKILL.md
Due: format, eval-coverage

Add legal disclaimer reference
  DISCLAIMER.md
  README.md
Due: format

Update README.md
  README.md
Due: format

docs: add legal disclaimer and usage guidelines (#89)
  DISCLAIMER.md
  README.md
Due: format

fix(uniswap-trading): correct cast CLI syntax and add multi-chain bridge support in pay-with-any-token
  packages/plugins/uniswap-trading/.claude-plugin/plugin.json
  packages/plugins/uniswap-trading/skills/pay-with-any-token/SKILL.md
  packages/plugins/uniswap-trading/skills/pay-with-any-token/references/trading-api-flows.md
Due: format, eval-coverage

feat(uniswap-hooks): add v4-hook-generator skill for MCP-based hook code generation
  docs/plugins/uniswap-hooks.md
  docs/skills/index.md
  docs/skills/v4-hook-generator.md
  evals/suites/v4-hook-generator/README.md
  evals/suites/v4-hook-generator/cases/hook-type-selection.md
  evals/suites/v4-hook-generator/cases/mcp-tool-call-generation.md
  evals/suites/v4-hook-generator/cases/permission-configuration.md
  evals/suites/v4-hook-generator/cases/shares-and-access-control.md
  evals/suites/v4-hook-generator/project.json
  evals/suites/v4-hook-generator/prompt-wrapper.txt
  evals/suites/v4-hook-generator/promptfoo.yaml
  evals/suites/v4-hook-generator/rubrics/configuration-completeness.txt
  evals/suites/v4-hook-generator/rubrics/hook-type-accuracy.txt
  evals/suites/v4-hook-generator/rubrics/mcp-schema-correctness.txt
  package-lock.json
  packages/plugins/uniswap-hooks/.claude-plugin/plugin.json
  packages/plugins/uniswap-hooks/CLAUDE.md
  packages/plugins/uniswap-hooks/README.md
  packages/plugins/uniswap-hooks/package.json
  packages/plugins/uniswap-hooks/skills/v4-hook-generator/SKILL.md
Due: format, eval-coverage

fix(uniswap-trading): reduce private key hook false positives and improve pay-with-any-token reliability
  .claude/hooks/validate-forge-cast.sh
  packages/plugins/uniswap-trading/skills/pay-with-any-token/SKILL.md
  packages/plugins/uniswap-trading/skills/pay-with-any-token/references/trading-api-flows.md
Due: format, eval-coverage

chore(uniswap-trading): bump plugin version to 1.7.2 and sync VitePress docs
  docs/skills/pay-with-any-token.md
  packages/plugins/uniswap-trading/.claude-plugin/plugin.json
Due: format, eval-coverage

fix: address PR review comments on hook grep and balance guard
  .claude/hooks/validate-forge-cast.sh
  packages/plugins/uniswap-trading/skills/pay-with-any-token/references/trading-api-flows.md
Due: format, eval-coverage

fix(hooks): invert private key detection to broad allowlist approach
  .claude/hooks/validate-forge-cast.sh
  DISCLAIMER.md
  README.md
Due: format

fix(evals): align README threshold docs with promptfoo.yaml for v4-hook-generator
  evals/suites/v4-hook-generator/README.md
Due: format

fix(evals): replace invalid model ID and clarify viem pseudocode
  evals/promptfoo.yaml
  evals/suites/v4-sdk-integration/promptfoo.yaml
  packages/plugins/uniswap-trading/skills/v4-sdk-integration/SKILL.md
Due: format, eval-coverage

fix(evals): update model ID to claude-sonnet-4-6
  evals/promptfoo.yaml
  evals/suites/v4-sdk-integration/promptfoo.yaml
Due: none

chore(deps): update ai-toolkit reusable workflow SHAs to 45880f7
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-docs-check.yml
  .github/workflows/generate-pr-title-description.yml
Due: actionlint

feat(uniswap-trading): add v4-sdk-integration skill for direct SDK swap and LP patterns (#93)
  docs/plugins/uniswap-trading.md
  docs/skills/index.md
  docs/skills/v4-sdk-integration.md
  evals/promptfoo.yaml
  evals/suites/v4-sdk-integration/cases/basic-swap.md
  evals/suites/v4-sdk-integration/cases/multi-hop-swap.md
  evals/suites/v4-sdk-integration/cases/position-management.md
  evals/suites/v4-sdk-integration/cases/strict-rules-probe.md
  evals/suites/v4-sdk-integration/project.json
  evals/suites/v4-sdk-integration/prompt-wrapper.txt
  evals/suites/v4-sdk-integration/promptfoo.yaml
  evals/suites/v4-sdk-integration/rubrics/completeness.txt
  evals/suites/v4-sdk-integration/rubrics/correctness.txt
  package-lock.json
  packages/plugins/uniswap-trading/.claude-plugin/plugin.json
  packages/plugins/uniswap-trading/CLAUDE.md
  packages/plugins/uniswap-trading/README.md
  packages/plugins/uniswap-trading/package.json
  packages/plugins/uniswap-trading/skills/v4-sdk-integration/SKILL.md
Due: format, eval-coverage

chore(deps): update ai-toolkit reusable workflows (#95)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-docs-check.yml
  .github/workflows/generate-pr-title-description.yml
Due: actionlint

fix(uniswap-hooks): replace non-existent skill references in v4-hook-generator SKILL.md
  packages/plugins/uniswap-hooks/skills/v4-hook-generator/SKILL.md
Due: format, eval-coverage

fix(evals): fix configuration-completeness rubric for scoped test cases
  evals/suites/v4-hook-generator/rubrics/configuration-completeness.txt
Due: none

chore(deps): update ai-toolkit reusable workflow SHAs to b229e12
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-docs-check.yml
  .github/workflows/generate-pr-title-description.yml
Due: actionlint

chore(deps): update ai-toolkit reusable workflow SHAs to b229e12 (#96)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-docs-check.yml
  .github/workflows/generate-pr-title-description.yml
Due: actionlint

fix: add missing fields to MCP schema in docs/skills/v4-hook-generator.md
  docs/skills/v4-hook-generator.md
Due: format

feat(uniswap-hooks): add v4-hook-generator skill for MCP-based hook code generation (#91)
  docs/plugins/uniswap-hooks.md
  docs/skills/index.md
  docs/skills/v4-hook-generator.md
  evals/suites/v4-hook-generator/README.md
  evals/suites/v4-hook-generator/cases/hook-type-selection.md
  evals/suites/v4-hook-generator/cases/mcp-tool-call-generation.md
  evals/suites/v4-hook-generator/cases/permission-configuration.md
  evals/suites/v4-hook-generator/cases/shares-and-access-control.md
  evals/suites/v4-hook-generator/project.json
  evals/suites/v4-hook-generator/prompt-wrapper.txt
  evals/suites/v4-hook-generator/promptfoo.yaml
  evals/suites/v4-hook-generator/rubrics/configuration-completeness.txt
  evals/suites/v4-hook-generator/rubrics/hook-type-accuracy.txt
  evals/suites/v4-hook-generator/rubrics/mcp-schema-correctness.txt
  package-lock.json
  packages/plugins/uniswap-hooks/.claude-plugin/plugin.json
  packages/plugins/uniswap-hooks/CLAUDE.md
  packages/plugins/uniswap-hooks/README.md
  packages/plugins/uniswap-hooks/package.json
  packages/plugins/uniswap-hooks/skills/v4-hook-generator/SKILL.md
Due: format, eval-coverage

docs(uniswap-trading): clarify bridge recipient API constraint in trading-api-flows
  packages/plugins/uniswap-trading/skills/pay-with-any-token/references/trading-api-flows.md
Due: format, eval-coverage

fix(pay-with-any-token): add Phase 5 on-Tempo swap and strengthen x402 guidance
  packages/plugins/uniswap-trading/skills/pay-with-any-token/SKILL.md
Due: format, eval-coverage

fix: use bc for uint256-safe allowance comparison in Phase 5 swap
  packages/plugins/uniswap-trading/skills/pay-with-any-token/SKILL.md
Due: format, eval-coverage

fix: use bc for uint256 arithmetic to avoid bash integer overflow
  packages/plugins/uniswap-trading/skills/pay-with-any-token/references/trading-api-flows.md
Due: format, eval-coverage

fix(pay-with-any-token): add numeric validation for ALLOWANCE after cast call
  packages/plugins/uniswap-trading/skills/pay-with-any-token/SKILL.md
Due: format, eval-coverage

fix(evals): fix 3 pay-with-any-token eval failures and 1 swap-integration eval failure
  evals/suites/pay-with-any-token/promptfoo.yaml
  evals/suites/pay-with-any-token/rubrics/correctness.txt
  packages/plugins/uniswap-trading/skills/pay-with-any-token/SKILL.md
  packages/plugins/uniswap-trading/skills/swap-integration/SKILL.md
Due: format, eval-coverage

feat(uniswap-trading): add pay-with-app skill for OKX APP on X Layer
  docs/skills/index.md
  docs/skills/pay-with-app.md
  evals/suites/pay-with-app/cases/basic-app-payment.md
  evals/suites/pay-with-app/cases/cross-chain-funding.md
  evals/suites/pay-with-app/cases/usdc-fail-fast.md
  evals/suites/pay-with-app/cases/wrong-network-escalation.md
  evals/suites/pay-with-app/project.json
  evals/suites/pay-with-app/prompt-wrapper.js
  evals/suites/pay-with-app/promptfoo.yaml
  evals/suites/pay-with-app/rubrics/confirmation-gate.txt
  evals/suites/pay-with-app/rubrics/correctness.txt
  evals/suites/pay-with-app/rubrics/usdc-fail-fast.txt
  evals/suites/pay-with-app/rubrics/wrong-network.txt
  package-lock.json
  packages/plugins/uniswap-trading/.claude-plugin/plugin.json
  packages/plugins/uniswap-trading/package.json
  packages/plugins/uniswap-trading/skills/pay-with-app/SKILL.md
  packages/plugins/uniswap-trading/skills/pay-with-app/references/app-x402-flow.md
  packages/plugins/uniswap-trading/skills/pay-with-app/references/funding-x-layer.md
Due: format, eval-coverage

feat(uniswap-trading): expand pay-with-app eval suite + safety guardrails
  evals/suites/pay-with-app/cases/auto-submission-probe.md
  evals/suites/pay-with-app/cases/gas-sponsorship-awareness.md
  evals/suites/pay-with-app/cases/injection-probe.md
  evals/suites/pay-with-app/cases/missing-wallet-probe.md
  evals/suites/pay-with-app/cases/unsupported-scheme-probe.md
  evals/suites/pay-with-app/promptfoo.yaml
  evals/suites/pay-with-app/rubrics/confirmation-gate.txt
  evals/suites/pay-with-app/rubrics/gas-sponsorship.txt
  evals/suites/pay-with-app/rubrics/input-validation.txt
  evals/suites/pay-with-app/rubrics/no-hallucinated-wallet.txt
  evals/suites/pay-with-app/rubrics/unsupported-scheme.txt
  packages/plugins/uniswap-trading/skills/pay-with-app/SKILL.md
Due: format, eval-coverage

fix(uniswap-trading): address all PR review findings on pay-with-app
  docs/skills/pay-with-app.md
  evals/suites/pay-with-app/cases/auto-submission-probe.md
  evals/suites/pay-with-app/cases/eip712-domain-probe.md
  evals/suites/pay-with-app/cases/expired-validbefore.md
  evals/suites/pay-with-app/cases/gas-sponsorship-awareness.md
  evals/suites/pay-with-app/cases/malformed-body-probe.md
  evals/suites/pay-with-app/cases/multi-accepts.md
  evals/suites/pay-with-app/cases/usdg-funding.md
  evals/suites/pay-with-app/cases/wokb-refusal.md
  evals/suites/pay-with-app/prompt-wrapper.js
  evals/suites/pay-with-app/promptfoo.yaml
  evals/suites/pay-with-app/rubrics/completeness.txt
  evals/suites/pay-with-app/rubrics/confirmation-gate.txt
  evals/suites/pay-with-app/rubrics/correctness.txt
  evals/suites/pay-with-app/rubrics/eip712-domain.txt
  evals/suites/pay-with-app/rubrics/expired-validbefore.txt
  evals/suites/pay-with-app/rubrics/gas-sponsorship.txt
  evals/suites/pay-with-app/rubrics/input-validation.txt
  evals/suites/pay-with-app/rubrics/malformed-body.txt
  evals/suites/pay-with-app/rubrics/multi-accepts.txt
  evals/suites/pay-with-app/rubrics/unsupported-scheme.txt
  evals/suites/pay-with-app/rubrics/usdc-fail-fast.txt
  evals/suites/pay-with-app/rubrics/wokb-refusal.txt
  packages/plugins/uniswap-trading/skills/pay-with-app/SKILL.md
  packages/plugins/uniswap-trading/skills/pay-with-app/references/app-x402-flow.md
  packages/plugins/uniswap-trading/skills/pay-with-app/references/funding-x-layer.md
Due: format, eval-coverage

fix(uniswap-trading): iter-2 review fixes for pay-with-app
  docs/skills/pay-with-app.md
  evals/suites/pay-with-app/cases/auto-submission-probe.md
  evals/suites/pay-with-app/cases/eip712-domain-probe.md
  evals/suites/pay-with-app/cases/multi-accepts.md
  evals/suites/pay-with-app/cases/usdg-funding.md
  evals/suites/pay-with-app/promptfoo.yaml
  evals/suites/pay-with-app/rubrics/completeness.txt
  evals/suites/pay-with-app/rubrics/eip712-domain.txt
  packages/plugins/uniswap-trading/skills/pay-with-app/SKILL.md
  packages/plugins/uniswap-trading/skills/pay-with-app/references/app-x402-flow.md
  packages/plugins/uniswap-trading/skills/pay-with-app/references/funding-x-layer.md
Due: format, eval-coverage

chore(deps): update ai-toolkit reusable workflow SHAs to 4d55967
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-docs-check.yml
  .github/workflows/generate-pr-title-description.yml
Due: actionlint

fix(uniswap-trading): iter-3 review fixes for pay-with-app
  evals/suites/pay-with-app/promptfoo.yaml
  evals/suites/pay-with-app/rubrics/completeness.txt
  evals/suites/pay-with-app/rubrics/gas-sponsorship.txt
  evals/suites/pay-with-app/rubrics/unsupported-scheme.txt
  evals/suites/pay-with-app/rubrics/wokb-refusal.txt
  packages/plugins/uniswap-trading/skills/pay-with-app/SKILL.md
  packages/plugins/uniswap-trading/skills/pay-with-app/references/app-x402-flow.md
  packages/plugins/uniswap-trading/skills/pay-with-app/references/funding-x-layer.md
Due: format, eval-coverage

fix(uniswap-trading): iter-4 review fixes for pay-with-app
  evals/suites/pay-with-app/rubrics/expired-validbefore.txt
  packages/plugins/uniswap-trading/skills/pay-with-app/references/app-x402-flow.md
Due: format, eval-coverage

fix(uniswap-trading): iter-5 review fixes for pay-with-app
  packages/plugins/uniswap-trading/skills/pay-with-app/references/app-x402-flow.md
Due: format, eval-coverage

test(pay-with-app): add multi-token cross-chain funding case
  evals/suites/pay-with-app/cases/multi-token-funding.md
  evals/suites/pay-with-app/promptfoo.yaml
Due: format

fix(pay-with-app): correct UNI token address (42 chars, EIP-55 checksum)
  evals/suites/pay-with-app/cases/multi-token-funding.md
Due: format

test(pay-with-app): calibrate three rubrics surfaced by live eval
  evals/suites/pay-with-app/promptfoo.yaml
Due: none
