Repository Uniswap/uniswap-ai: changes, and which lefthook commands are due for each by the changed paths.
All: format, actionlint, eval-coverage

lefthook.yml:

# Lefthook configuration for git hooks

# <https://github.com/evilmartians/lefthook>

pre-commit:
  parallel: false
  commands:
    format:
      glob: '*.{js,ts,tsx,json,md}'
      run: npx nx format:write --uncommitted
      stage_fixed: true
    lint:
      run: npx nx affected --target=lint --base=HEAD~1 --head=HEAD
    actionlint:
      glob: '.github/workflows/*.yml'
      # shellcheck disabled: env vars set via GitHub Actions env: context are
      # safe from word splitting; shellcheck produces ~44 false-positive
      # info/style findings (SC2086, SC2129). Matches CI config in zizmor.yml.
      run: actionlint -shellcheck=""
    eval-coverage:
      glob: 'packages/plugins/**/*'
      run: npx tsx scripts/check-eval-coverage.ts --staged

fix(evals): fail loudly on git-diff and Nx-probe failures
  .github/workflows/evals.yml
Due: actionlint

docs(ci): describe lockfile-free eval suite selection in workflows CLAUDE.md
  .github/workflows/CLAUDE.md
Due: format

docs(ci): correct two overstated claims in the evals selection notes
  .github/workflows/CLAUDE.md
Due: format

fix(evals): stop lockfile changes from selecting every eval suite (#132)
  .github/workflows/CLAUDE.md
  .github/workflows/evals.yml
Due: format, actionlint

fix(ci): stop eval-coverage check failing on skill deletions
  .github/actions/check-eval-coverage/action.yml
Due: none

docs(permissioned-pools): adopt Legal's reworded scope disclaimer
  docs/plugins/uniswap-permissioned-pools.md
  docs/skills/permissioned-pools-issuer.md
  evals/suites/permissioned-pools-issuer/rubrics/disclaimer-and-scope.txt
  packages/plugins/uniswap-permissioned-pools/CLAUDE.md
  packages/plugins/uniswap-permissioned-pools/README.md
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-issuer/SKILL.md
Due: format, eval-coverage

docs(permissioned-pools): surface the repo disclaimer from each skill
  docs/skills/permissioned-pools-issuer.md
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-issuer/SKILL.md
Due: format, eval-coverage

docs(permissioned-pools): surface the repo disclaimer from each skill
  docs/skills/permissioned-pools-configurator.md
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-configurator/SKILL.md
Due: format, eval-coverage

docs(permissioned-pools): adopt Legal's reworded scope disclaimer
  docs/skills/permissioned-pools-configurator.md
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-configurator/SKILL.md
Due: format, eval-coverage

feat(permissioned-pools): ship configurator eval suite, docs, and v0.2.0
  .claude-plugin/marketplace.json
  CLAUDE.md
  README.md
  docs/OVERVIEW.md
  docs/plugins/index.md
  docs/plugins/uniswap-permissioned-pools.md
  docs/skills/index.md
  docs/skills/permissioned-pools-configurator.md
  evals/suites/permissioned-pools-configurator/README.md
  evals/suites/permissioned-pools-configurator/cases/adapter-address-out-of-scope.md
  evals/suites/permissioned-pools-configurator/cases/happy-path-full-config.md
  evals/suites/permissioned-pools-configurator/cases/missing-required-field.md
  evals/suites/permissioned-pools-configurator/cases/never-invent-address.md
  evals/suites/permissioned-pools-configurator/cases/verification-deposit-headroom.md
  evals/suites/permissioned-pools-configurator/project.json
  evals/suites/permissioned-pools-configurator/prompt-wrapper.txt
  evals/suites/permissioned-pools-configurator/promptfoo.yaml
  evals/suites/permissioned-pools-configurator/rubrics/adapter-address-scope.txt
  evals/suites/permissioned-pools-configurator/rubrics/address-fabrication-refusal.txt
  evals/suites/permissioned-pools-configurator/rubrics/config-json-validity.txt
  evals/suites/permissioned-pools-configurator/rubrics/missing-field-handling.txt
  evals/suites/permissioned-pools-configurator/rubrics/verification-deposit-headroom.txt
  packages/plugins/uniswap-permissioned-pools/.claude-plugin/plugin.json
  packages/plugins/uniswap-permissioned-pools/CLAUDE.md
  packages/plugins/uniswap-permissioned-pools/README.md
  packages/plugins/uniswap-permissioned-pools/package.json
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-configurator/SKILL.md
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-configurator/references/config-schema.md
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-configurator/references/parameter-reference.md
Due: format, eval-coverage

fix(permissioned-pools): close verification-deposit silent-default gap
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-configurator/SKILL.md
Due: format, eval-coverage

fix(permissioned-pools): phase 5 fix strike 1 for configurator slice
  docs/skills/permissioned-pools-configurator.md
  evals/suites/permissioned-pools-configurator/README.md
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-configurator/SKILL.md
Due: format, eval-coverage

fix(permissioned-pools): phase 5 fix strike 2 for configurator slice
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-configurator/SKILL.md
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-configurator/references/config-schema.md
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-configurator/references/parameter-reference.md
Due: format, eval-coverage

fix(permissioned-pools): phase 5 sweep fixes for configurator slice
  evals/suites/permissioned-pools-configurator/rubrics/missing-field-handling.txt
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-configurator/SKILL.md
Due: format, eval-coverage

fix(permissioned-pools): reject zero and self-paired currency in the configurator
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-configurator/SKILL.md
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-configurator/references/config-schema.md
Due: format, eval-coverage

feat(permissioned-pools): add configurator skill (#133)
  .claude-plugin/marketplace.json
  CLAUDE.md
  README.md
  docs/OVERVIEW.md
  docs/plugins/index.md
  docs/plugins/uniswap-permissioned-pools.md
  docs/skills/index.md
  docs/skills/permissioned-pools-configurator.md
  evals/suites/permissioned-pools-configurator/README.md
  evals/suites/permissioned-pools-configurator/cases/adapter-address-out-of-scope.md
  evals/suites/permissioned-pools-configurator/cases/happy-path-full-config.md
  evals/suites/permissioned-pools-configurator/cases/missing-required-field.md
  evals/suites/permissioned-pools-configurator/cases/never-invent-address.md
  evals/suites/permissioned-pools-configurator/cases/verification-deposit-headroom.md
  evals/suites/permissioned-pools-configurator/project.json
  evals/suites/permissioned-pools-configurator/prompt-wrapper.txt
  evals/suites/permissioned-pools-configurator/promptfoo.yaml
  evals/suites/permissioned-pools-configurator/rubrics/adapter-address-scope.txt
  evals/suites/permissioned-pools-configurator/rubrics/address-fabrication-refusal.txt
  evals/suites/permissioned-pools-configurator/rubrics/config-json-validity.txt
  evals/suites/permissioned-pools-configurator/rubrics/missing-field-handling.txt
  evals/suites/permissioned-pools-configurator/rubrics/verification-deposit-headroom.txt
  packages/plugins/uniswap-permissioned-pools/.claude-plugin/plugin.json
  packages/plugins/uniswap-permissioned-pools/CLAUDE.md
  packages/plugins/uniswap-permissioned-pools/README.md
  packages/plugins/uniswap-permissioned-pools/package.json
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-configurator/SKILL.md
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-configurator/references/config-schema.md
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-configurator/references/parameter-reference.md
Due: format, eval-coverage

feat(permissioned-pools): ship deployer skill, eval suite, docs, and v0.3.0
  .claude-plugin/marketplace.json
  CLAUDE.md
  README.md
  docs/OVERVIEW.md
  docs/index.md
  docs/plugins/index.md
  docs/plugins/uniswap-permissioned-pools.md
  docs/skills/index.md
  docs/skills/permissioned-pools-deployer.md
  evals/suites/permissioned-pools-deployer/README.md
  evals/suites/permissioned-pools-deployer/cases/disclaimer-skip.md
  evals/suites/permissioned-pools-deployer/cases/happy-path-walkthrough.md
  evals/suites/permissioned-pools-deployer/cases/raw-signing-key-request.md
  evals/suites/permissioned-pools-deployer/cases/seed-before-verify.md
  evals/suites/permissioned-pools-deployer/cases/wrapper-address-injection.md
  evals/suites/permissioned-pools-deployer/cases/wrong-wrapper-registration.md
  evals/suites/permissioned-pools-deployer/project.json
  evals/suites/permissioned-pools-deployer/prompt-wrapper.txt
  evals/suites/permissioned-pools-deployer/promptfoo.yaml
  evals/suites/permissioned-pools-deployer/rubrics/disclaimer-skip.txt
  evals/suites/permissioned-pools-deployer/rubrics/happy-path-walkthrough.txt
  evals/suites/permissioned-pools-deployer/rubrics/raw-signing-key-request.txt
  evals/suites/permissioned-pools-deployer/rubrics/seed-before-verify.txt
  evals/suites/permissioned-pools-deployer/rubrics/wrapper-address-injection.txt
  evals/suites/permissioned-pools-deployer/rubrics/wrong-wrapper-registration.txt
  packages/plugins/uniswap-permissioned-pools/.claude-plugin/plugin.json
  packages/plugins/uniswap-permissioned-pools/CLAUDE.md
  packages/plugins/uniswap-permissioned-pools/README.md
  packages/plugins/uniswap-permissioned-pools/package.json
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-deployer/SKILL.md
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-deployer/references/preflight-and-validation.md
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-deployer/references/step-walkthrough.md
Due: format, eval-coverage

fix(permissioned-pools): phase 5 sweep fixes for deployer slice
  evals/suites/permissioned-pools-deployer/cases/happy-path-walkthrough.md
  evals/suites/permissioned-pools-deployer/cases/raw-signing-key-request.md
  evals/suites/permissioned-pools-deployer/cases/seed-before-verify.md
  evals/suites/permissioned-pools-deployer/cases/wrapper-address-injection.md
  evals/suites/permissioned-pools-deployer/cases/wrong-wrapper-registration.md
  evals/suites/permissioned-pools-deployer/promptfoo.yaml
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-deployer/references/step-walkthrough.md
Due: format, eval-coverage

fix(permissioned-pools): phase 5 fix strike 1 for deployer slice
  evals/suites/permissioned-pools-deployer/cases/happy-path-walkthrough.md
  evals/suites/permissioned-pools-deployer/cases/raw-signing-key-request.md
  evals/suites/permissioned-pools-deployer/cases/seed-before-verify.md
  evals/suites/permissioned-pools-deployer/cases/wrapper-address-injection.md
  evals/suites/permissioned-pools-deployer/cases/wrong-wrapper-registration.md
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-deployer/SKILL.md
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-deployer/references/step-walkthrough.md
Due: format, eval-coverage

fix(permissioned-pools): render the full metacharacter reject list
  packages/plugins/uniswap-permissioned-pools/.claude-plugin/plugin.json
  packages/plugins/uniswap-permissioned-pools/package.json
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-deployer/references/preflight-and-validation.md
Due: format, eval-coverage

fix(permissioned-pools): correct a false address-availability claim
  packages/plugins/uniswap-permissioned-pools/.claude-plugin/plugin.json
  packages/plugins/uniswap-permissioned-pools/package.json
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-deployer/references/preflight-and-validation.md
Due: format, eval-coverage

docs(permissioned-pools): adopt Legal's reworded scope disclaimer
  docs/skills/permissioned-pools-deployer.md
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-deployer/SKILL.md
Due: format, eval-coverage

docs(permissioned-pools): surface the repo disclaimer from each skill
  docs/OVERVIEW.md
  docs/skills/permissioned-pools-deployer.md
  packages/plugins/uniswap-permissioned-pools/CLAUDE.md
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-deployer/SKILL.md
Due: format, eval-coverage

fix(permissioned-pools): correct three unsafe claims in the deployer skill
  docs/skills/permissioned-pools-deployer.md
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-deployer/SKILL.md
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-deployer/references/preflight-and-validation.md
Due: format, eval-coverage

feat(permissioned-pools): add deployer skill, evals, and docs (#134)
  .claude-plugin/marketplace.json
  CLAUDE.md
  README.md
  docs/OVERVIEW.md
  docs/index.md
  docs/plugins/index.md
  docs/plugins/uniswap-permissioned-pools.md
  docs/skills/index.md
  docs/skills/permissioned-pools-deployer.md
  evals/suites/permissioned-pools-deployer/README.md
  evals/suites/permissioned-pools-deployer/cases/disclaimer-skip.md
  evals/suites/permissioned-pools-deployer/cases/happy-path-walkthrough.md
  evals/suites/permissioned-pools-deployer/cases/raw-signing-key-request.md
  evals/suites/permissioned-pools-deployer/cases/seed-before-verify.md
  evals/suites/permissioned-pools-deployer/cases/wrapper-address-injection.md
  evals/suites/permissioned-pools-deployer/cases/wrong-wrapper-registration.md
  evals/suites/permissioned-pools-deployer/project.json
  evals/suites/permissioned-pools-deployer/prompt-wrapper.txt
  evals/suites/permissioned-pools-deployer/promptfoo.yaml
  evals/suites/permissioned-pools-deployer/rubrics/disclaimer-skip.txt
  evals/suites/permissioned-pools-deployer/rubrics/happy-path-walkthrough.txt
  evals/suites/permissioned-pools-deployer/rubrics/raw-signing-key-request.txt
  evals/suites/permissioned-pools-deployer/rubrics/seed-before-verify.txt
  evals/suites/permissioned-pools-deployer/rubrics/wrapper-address-injection.txt
  evals/suites/permissioned-pools-deployer/rubrics/wrong-wrapper-registration.txt
  packages/plugins/uniswap-permissioned-pools/.claude-plugin/plugin.json
  packages/plugins/uniswap-permissioned-pools/CLAUDE.md
  packages/plugins/uniswap-permissioned-pools/README.md
  packages/plugins/uniswap-permissioned-pools/package.json
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-deployer/SKILL.md
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-deployer/references/preflight-and-validation.md
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-deployer/references/step-walkthrough.md
Due: format, eval-coverage

test(evals): grade the DISCLAIMER.md pointer in permissioned-pools suites
  evals/suites/permissioned-pools-configurator/README.md
  evals/suites/permissioned-pools-configurator/cases/usage-guidelines-pointer.md
  evals/suites/permissioned-pools-configurator/promptfoo.yaml
  evals/suites/permissioned-pools-configurator/rubrics/usage-guidelines-pointer.txt
  evals/suites/permissioned-pools-deployer/README.md
  evals/suites/permissioned-pools-deployer/cases/usage-guidelines-pointer.md
  evals/suites/permissioned-pools-deployer/promptfoo.yaml
  evals/suites/permissioned-pools-deployer/rubrics/usage-guidelines-pointer.txt
  evals/suites/permissioned-pools-issuer/README.md
  evals/suites/permissioned-pools-issuer/cases/usage-guidelines-pointer.md
  evals/suites/permissioned-pools-issuer/promptfoo.yaml
  evals/suites/permissioned-pools-issuer/rubrics/usage-guidelines-pointer.txt
Due: format

test(permissioned-pools): make usage-guidelines threshold require all six elements
  evals/suites/permissioned-pools-configurator/promptfoo.yaml
  evals/suites/permissioned-pools-configurator/rubrics/usage-guidelines-pointer.txt
  evals/suites/permissioned-pools-deployer/promptfoo.yaml
  evals/suites/permissioned-pools-deployer/rubrics/usage-guidelines-pointer.txt
  evals/suites/permissioned-pools-issuer/promptfoo.yaml
  evals/suites/permissioned-pools-issuer/rubrics/usage-guidelines-pointer.txt
Due: none

test(permissioned-pools): grade the DISCLAIMER.md pointer in evals (#139)
  evals/suites/permissioned-pools-configurator/README.md
  evals/suites/permissioned-pools-configurator/cases/usage-guidelines-pointer.md
  evals/suites/permissioned-pools-configurator/promptfoo.yaml
  evals/suites/permissioned-pools-configurator/rubrics/usage-guidelines-pointer.txt
  evals/suites/permissioned-pools-deployer/README.md
  evals/suites/permissioned-pools-deployer/cases/usage-guidelines-pointer.md
  evals/suites/permissioned-pools-deployer/promptfoo.yaml
  evals/suites/permissioned-pools-deployer/rubrics/usage-guidelines-pointer.txt
  evals/suites/permissioned-pools-issuer/README.md
  evals/suites/permissioned-pools-issuer/cases/usage-guidelines-pointer.md
  evals/suites/permissioned-pools-issuer/promptfoo.yaml
  evals/suites/permissioned-pools-issuer/rubrics/usage-guidelines-pointer.txt
Due: format

test(evals): scratch check that the deployer case fails without the fix
  evals/suites/deployer/cases/rpc-url-injection.md
  evals/suites/deployer/promptfoo.yaml
  evals/suites/deployer/rubrics/rpc-url-injection.txt
Due: format

fix(cca): validate the user-supplied RPC endpoint before it reaches a command
  evals/suites/configurator/cases/custom-rpc-injection.md
  evals/suites/configurator/promptfoo.yaml
  evals/suites/configurator/rubrics/custom-rpc-injection.txt
  evals/suites/deployer/cases/rpc-url-injection.md
  evals/suites/deployer/promptfoo.yaml
  evals/suites/deployer/rubrics/rpc-url-injection.txt
  packages/plugins/uniswap-cca/skills/configurator/SKILL.md
  packages/plugins/uniswap-cca/skills/deployer/SKILL.md
Due: format, eval-coverage

chore(cca): bump plugin version and sync the CLAUDE.md command example
  packages/plugins/uniswap-cca/.claude-plugin/plugin.json
  packages/plugins/uniswap-cca/CLAUDE.md
Due: format, eval-coverage

fix(evals): stop the configurator injection rubric penalizing a correct stop
  evals/suites/configurator/rubrics/custom-rpc-injection.txt
Due: none

docs(evals): correct the deployer case note, it is not discriminating
  evals/suites/deployer/promptfoo.yaml
Due: none

fix(evals): stop the basic-configuration case failing a correct answer
  evals/suites/configurator/promptfoo.yaml
Due: none

test(evals): keep both RPC injection cases in the deployer suite
  evals/suites/deployer/cases/rpc-url-metacharacter-injection.md
  evals/suites/deployer/cases/rpc-url-whitespace-injection.md
  evals/suites/deployer/promptfoo.yaml
  evals/suites/deployer/rubrics/rpc-url-metacharacter-injection.txt
  evals/suites/deployer/rubrics/rpc-url-whitespace-injection.txt
Due: format

docs(cca): fix a false claim and drop the unverifiable validation exemption
  packages/plugins/uniswap-cca/skills/configurator/SKILL.md
Due: format, eval-coverage

test(evals): make the deployer RPC injection case discriminating
  evals/suites/deployer/cases/rpc-url-injection.md
  evals/suites/deployer/promptfoo.yaml
  evals/suites/deployer/rubrics/rpc-url-injection.txt
Due: format
