Repository Uniswap/uniswap-ai: changes, and which lefthook commands are due for each by the changed paths.
All: format, actionlint, eval-coverage

format:
  run: npx nx format:write --uncommitted
  stage_fixed: true

actionlint:
  run: actionlint -shellcheck=""

eval-coverage:
  run: npx tsx scripts/check-eval-coverage.ts --staged

chore(deps): maintain Claude Code Action workflows (cca=v1.0.133, ait=27e7e2d)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-docs-check.yml
  .github/workflows/generate-pr-title-description.yml
Due: actionlint

chore(deps): update ai-toolkit reusable workflow SHAs to 6d35d60
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-docs-check.yml
  .github/workflows/generate-pr-title-description.yml
Due: actionlint

feat(trading): add LP API integration skill
  docs/plugins/uniswap-trading.md
  docs/skills/index.md
  docs/skills/lp-integration.md
  evals/suites/lp-integration/cases/approval-permit-flow.md
  evals/suites/lp-integration/cases/basic.md
  evals/suites/lp-integration/cases/manage-position.md
  evals/suites/lp-integration/cases/security-pitfalls.md
  evals/suites/lp-integration/project.json
  evals/suites/lp-integration/prompt-wrapper.txt
  evals/suites/lp-integration/promptfoo.yaml
  evals/suites/lp-integration/rubrics/completeness.txt
  evals/suites/lp-integration/rubrics/correctness.txt
  packages/plugins/uniswap-trading/.claude-plugin/plugin.json
  packages/plugins/uniswap-trading/CLAUDE.md
  packages/plugins/uniswap-trading/README.md
  packages/plugins/uniswap-trading/package.json
  packages/plugins/uniswap-trading/skills/lp-integration/SKILL.md
  packages/plugins/uniswap-trading/skills/lp-integration/references/advanced-patterns.md
Due: format, eval-coverage

docs(trading): sharpen lp-integration skill description triggering
  packages/plugins/uniswap-trading/skills/lp-integration/SKILL.md
Due: format, eval-coverage

fix(trading): set confirmed LP API base URL to liquidity.api.uniswap.org
  evals/suites/lp-integration/cases/basic.md
  evals/suites/lp-integration/promptfoo.yaml
  evals/suites/lp-integration/rubrics/correctness.txt
  packages/plugins/uniswap-trading/skills/lp-integration/SKILL.md
Due: format, eval-coverage

fix(trading): clarify lp-integration rubric transaction-field wording
  evals/suites/lp-integration/rubrics/correctness.txt
Due: none

feat(uniswap-trading): add lp-integration skill for LP REST API (#113)
  docs/plugins/uniswap-trading.md
  docs/skills/index.md
  docs/skills/lp-integration.md
  evals/suites/lp-integration/cases/approval-permit-flow.md
  evals/suites/lp-integration/cases/basic.md
  evals/suites/lp-integration/cases/manage-position.md
  evals/suites/lp-integration/cases/security-pitfalls.md
  evals/suites/lp-integration/project.json
  evals/suites/lp-integration/prompt-wrapper.txt
  evals/suites/lp-integration/promptfoo.yaml
  evals/suites/lp-integration/rubrics/completeness.txt
  evals/suites/lp-integration/rubrics/correctness.txt
  packages/plugins/uniswap-trading/.claude-plugin/plugin.json
  packages/plugins/uniswap-trading/CLAUDE.md
  packages/plugins/uniswap-trading/README.md
  packages/plugins/uniswap-trading/package.json
  packages/plugins/uniswap-trading/skills/lp-integration/SKILL.md
  packages/plugins/uniswap-trading/skills/lp-integration/references/advanced-patterns.md
Due: format, eval-coverage

Revert "feat(uniswap-trading): add lp-integration skill for LP REST API (#113)"
  docs/plugins/uniswap-trading.md
  docs/skills/index.md
  docs/skills/lp-integration.md
  evals/suites/lp-integration/cases/approval-permit-flow.md
  evals/suites/lp-integration/cases/basic.md
  evals/suites/lp-integration/cases/manage-position.md
  evals/suites/lp-integration/cases/security-pitfalls.md
  evals/suites/lp-integration/project.json
  evals/suites/lp-integration/prompt-wrapper.txt
  evals/suites/lp-integration/promptfoo.yaml
  evals/suites/lp-integration/rubrics/completeness.txt
  evals/suites/lp-integration/rubrics/correctness.txt
  packages/plugins/uniswap-trading/.claude-plugin/plugin.json
  packages/plugins/uniswap-trading/CLAUDE.md
  packages/plugins/uniswap-trading/README.md
  packages/plugins/uniswap-trading/package.json
  packages/plugins/uniswap-trading/skills/lp-integration/SKILL.md
  packages/plugins/uniswap-trading/skills/lp-integration/references/advanced-patterns.md
Due: format, eval-coverage

Revert "feat(uniswap-trading): add lp-integration skill for LP REST API (#113)" (#114)
  docs/plugins/uniswap-trading.md
  docs/skills/index.md
  docs/skills/lp-integration.md
  evals/suites/lp-integration/cases/approval-permit-flow.md
  evals/suites/lp-integration/cases/basic.md
  evals/suites/lp-integration/cases/manage-position.md
  evals/suites/lp-integration/cases/security-pitfalls.md
  evals/suites/lp-integration/project.json
  evals/suites/lp-integration/prompt-wrapper.txt
  evals/suites/lp-integration/promptfoo.yaml
  evals/suites/lp-integration/rubrics/completeness.txt
  evals/suites/lp-integration/rubrics/correctness.txt
  packages/plugins/uniswap-trading/.claude-plugin/plugin.json
  packages/plugins/uniswap-trading/CLAUDE.md
  packages/plugins/uniswap-trading/README.md
  packages/plugins/uniswap-trading/package.json
  packages/plugins/uniswap-trading/skills/lp-integration/SKILL.md
  packages/plugins/uniswap-trading/skills/lp-integration/references/advanced-patterns.md
Due: format, eval-coverage

Reapply "feat(uniswap-trading): add lp-integration skill for LP REST API (#113)" (#114)
  docs/plugins/uniswap-trading.md
  docs/skills/index.md
  docs/skills/lp-integration.md
  evals/suites/lp-integration/cases/approval-permit-flow.md
  evals/suites/lp-integration/cases/basic.md
  evals/suites/lp-integration/cases/manage-position.md
  evals/suites/lp-integration/cases/security-pitfalls.md
  evals/suites/lp-integration/project.json
  evals/suites/lp-integration/prompt-wrapper.txt
  evals/suites/lp-integration/promptfoo.yaml
  evals/suites/lp-integration/rubrics/completeness.txt
  evals/suites/lp-integration/rubrics/correctness.txt
  packages/plugins/uniswap-trading/.claude-plugin/plugin.json
  packages/plugins/uniswap-trading/CLAUDE.md
  packages/plugins/uniswap-trading/README.md
  packages/plugins/uniswap-trading/package.json
  packages/plugins/uniswap-trading/skills/lp-integration/SKILL.md
  packages/plugins/uniswap-trading/skills/lp-integration/references/advanced-patterns.md
Due: format, eval-coverage

chore(deps): update ai-toolkit reusable workflow SHAs to 6d35d60 (#111)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-docs-check.yml
  .github/workflows/generate-pr-title-description.yml
Due: actionlint

fix(uniswap-trading): correct lp-integration skill against live LP API
  evals/suites/lp-integration/rubrics/correctness.txt
  packages/plugins/uniswap-trading/skills/lp-integration/SKILL.md
  packages/plugins/uniswap-trading/skills/lp-integration/references/advanced-patterns.md
Due: format, eval-coverage

fix(uniswap-trading): align lp-integration KYC-gating comments + harden eval guards
  evals/suites/lp-integration/promptfoo.yaml
  packages/plugins/uniswap-trading/skills/lp-integration/SKILL.md
Due: format, eval-coverage

chore(evals): gitignore promptfoo results.json and untrack the committed one
  .gitignore
  evals/suites/pay-with-any-token/results.json
Due: format

fix(uniswap-trading): align worked-example validateLpTransaction with canonical version
  packages/plugins/uniswap-trading/skills/lp-integration/SKILL.md
Due: format, eval-coverage

style(uniswap-trading): prettier-format advanced-patterns.md
  packages/plugins/uniswap-trading/skills/lp-integration/references/advanced-patterns.md
Due: format, eval-coverage

feat(uniswap-trading): add lp-integration skill for LP REST API (#115)
  .gitignore
  docs/plugins/uniswap-trading.md
  docs/skills/index.md
  docs/skills/lp-integration.md
  evals/suites/lp-integration/cases/approval-permit-flow.md
  evals/suites/lp-integration/cases/basic.md
  evals/suites/lp-integration/cases/manage-position.md
  evals/suites/lp-integration/cases/security-pitfalls.md
  evals/suites/lp-integration/project.json
  evals/suites/lp-integration/prompt-wrapper.txt
  evals/suites/lp-integration/promptfoo.yaml
  evals/suites/lp-integration/rubrics/completeness.txt
  evals/suites/lp-integration/rubrics/correctness.txt
  evals/suites/pay-with-any-token/results.json
  packages/plugins/uniswap-trading/.claude-plugin/plugin.json
  packages/plugins/uniswap-trading/CLAUDE.md
  packages/plugins/uniswap-trading/README.md
  packages/plugins/uniswap-trading/package.json
  packages/plugins/uniswap-trading/skills/lp-integration/SKILL.md
  packages/plugins/uniswap-trading/skills/lp-integration/references/advanced-patterns.md
Due: format, eval-coverage

chore: ignore Claude Code session output directories
  .gitignore
Due: none

chore: ignore Claude Code session output directories (#116)
  .gitignore
Due: none

chore(repo): ignore local-only tooling and draft files
  .gitignore
Due: none

chore(repo): ignore local-only tooling and draft files (#117)
  .gitignore
Due: none

chore(uniswap-viem): bump version 1.1.4 -> 1.1.5 for chains-table doc update
  packages/plugins/uniswap-viem/.claude-plugin/plugin.json
  packages/plugins/uniswap-viem/package.json
Due: format, eval-coverage

docs(swap-integration): drive the uni CLI and @uniswap/sdk facade instead of hand-rolling the Trading API
  docs/skills/swap-integration.md
  packages/plugins/uniswap-trading/CLAUDE.md
  packages/plugins/uniswap-trading/skills/swap-integration/SKILL.md
Due: format, eval-coverage

feat(uniswap-trading): send x-agent-info attribution header from swap-integration skill
  docs/skills/swap-integration.md
  packages/plugins/uniswap-trading/.claude-plugin/plugin.json
  packages/plugins/uniswap-trading/package.json
  packages/plugins/uniswap-trading/skills/swap-integration/SKILL.md
  packages/plugins/uniswap-trading/skills/swap-integration/references/advanced-patterns.md
Due: format, eval-coverage

docs(swap-integration): document x-agent-info-status malformed response header
  packages/plugins/uniswap-trading/skills/swap-integration/SKILL.md
Due: format, eval-coverage

docs(swap-integration): make decision_origin an explicit choice; note malformed-status only on success
  packages/plugins/uniswap-trading/skills/swap-integration/SKILL.md
  packages/plugins/uniswap-trading/skills/swap-integration/references/advanced-patterns.md
Due: format, eval-coverage

fix(permissioned-pools): align exit framing, wrapper-check naming and source citations
  evals/suites/permissioned-pools-issuer/rubrics/enforced-ordering.txt
  evals/suites/permissioned-pools-issuer/rubrics/trust-model-completeness.txt
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-issuer/SKILL.md
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-issuer/references/contract-architecture.md
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-issuer/references/coordination-boundary.md
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-issuer/references/issuer-journey.md
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-issuer/references/packaging-and-sources.md
Due: format, eval-coverage

fix(ci): unbreak eval suites and stop the workflow reporting false green
  .github/workflows/CLAUDE.md
  .github/workflows/evals.yml
Due: format, actionlint

fix(ci): build better-sqlite3 so promptfoo can open its database
  .github/workflows/CLAUDE.md
  .github/workflows/evals.yml
Due: format, actionlint

fix(ci): read Node version from vars.NODE_VERSION again
  .github/workflows/CLAUDE.md
  .github/workflows/evals.yml
Due: format, actionlint

docs(ci): drop the .nvmrc sync instruction from the NODE_VERSION note
  .github/workflows/CLAUDE.md
Due: format

fix(ci): fail the eval job on errored cases instead of hiding them
  .github/workflows/CLAUDE.md
  .github/workflows/evals.yml
Due: format, actionlint

fix(ci): unbreak eval suites and stop workflow reporting false green (#122)
  .github/workflows/CLAUDE.md
  .github/workflows/evals.yml
Due: format, actionlint

fix(permissioned-pools): make eval assertions verdict-based and unblock the truncated trust-model case
  evals/suites/permissioned-pools-issuer/README.md
  evals/suites/permissioned-pools-issuer/promptfoo.yaml
  evals/suites/permissioned-pools-issuer/rubrics/address-hygiene.txt
  evals/suites/permissioned-pools-issuer/rubrics/casing-and-packaging.txt
  evals/suites/permissioned-pools-issuer/rubrics/disclaimer-and-scope.txt
  evals/suites/permissioned-pools-issuer/rubrics/enforced-ordering.txt
  evals/suites/permissioned-pools-issuer/rubrics/trust-model-completeness.txt
  evals/suites/permissioned-pools-issuer/rubrics/wrapper-registration.txt
  evals/suites/permissioned-pools-issuer/rubrics/wrapper-trust.txt
Due: format

feat(ci): review PRs with @uniswap/review-cli instead of ai-toolkit
  .claude/review-context.md
  .claude/review.yml
  .github/workflows/CLAUDE.md
  .github/workflows/claude-code-review.yml
Due: format, actionlint

fix(ci): fail loudly instead of inheriting the default skip policy
  .github/workflows/claude-code-review.yml
Due: actionlint

style(docs): apply prettier to the new review docs
  .claude/review-context.md
  .github/workflows/CLAUDE.md
Due: format

Path conditions:
  format: any of: *.{js,ts,tsx,json,md}
  actionlint: any of: .github/workflows/*.yml
  eval-coverage: any of: packages/plugins/**/*
