Repository Uniswap/uniswap-ai: changes, and which lefthook commands are due for each by the changed paths.
All: format, eval-coverage

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: false
  commands:
    format:
      glob: '*.{js,ts,tsx,json,md}'
      run: npx nx format:write --uncommitted
      stage_fixed: true
    lint:
      run: npx nx affected --target=lint --base=HEAD~1 --head=HEAD
    eval-coverage:
      glob: 'packages/plugins/**/*'
      run: npx tsx scripts/check-eval-coverage.ts --staged

fix(uniswap-driver): add DexScreener/DefiLlama provider ID mapping to chains.md (#51)
  packages/plugins/uniswap-driver/.claude-plugin/plugin.json
  packages/plugins/uniswap-driver/references/chains.md
  packages/plugins/uniswap-driver/skills/liquidity-planner/references/position-types.md
Due: format, eval-coverage

fix(docs): update swap-planner VitePress docs with coverage notes
  docs/skills/swap-planner.md
Due: format

fix(viem-integration): correct version to patch, remove duplicate section
  packages/plugins/uniswap-viem/.claude-plugin/plugin.json
  packages/plugins/uniswap-viem/skills/viem-integration/references/reading-data.md
Due: format, eval-coverage

fix(viem-integration): add ENS resolution, event monitoring, and Uniswap ABIs
  packages/plugins/uniswap-viem/.claude-plugin/plugin.json
  packages/plugins/uniswap-viem/skills/viem-integration/references/reading-data.md
Due: format, eval-coverage

fix(swap-planner): tone down trending claims and add DexScreener coverage notes
  packages/plugins/uniswap-driver/skills/swap-planner/SKILL.md
  packages/plugins/uniswap-driver/skills/swap-planner/references/data-providers.md
Due: format, eval-coverage

fix(uniswap-driver): bump plugin version 0.3.3 → 0.3.4
  packages/plugins/uniswap-driver/.claude-plugin/plugin.json
Due: format, eval-coverage

fix(swap-planner): remove trending claims and add DexScreener coverage notes (#52)
  docs/skills/swap-planner.md
  packages/plugins/uniswap-driver/.claude-plugin/plugin.json
  packages/plugins/uniswap-driver/skills/swap-planner/SKILL.md
  packages/plugins/uniswap-driver/skills/swap-planner/references/data-providers.md
Due: format, eval-coverage

fix(swap-integration): fix UNIVERSAL_ROUTER_ADDRESS signature, signer bug, add pool data example (#53)
  packages/plugins/uniswap-trading/skills/swap-integration/SKILL.md
Due: format, eval-coverage

fix(ci): disable zizmor SARIF upload, use annotations instead
  .github/workflows/CLAUDE.md
  .github/workflows/zizmor.yml
Due: format

fix(ci): disable zizmor SARIF upload, use annotations instead (#62)
  .github/workflows/CLAUDE.md
  .github/workflows/zizmor.yml
Due: format

fix(uniswap-hooks): add complete CurveAggregatorHook implementation
  packages/plugins/uniswap-hooks/.claude-plugin/plugin.json
  packages/plugins/uniswap-hooks/skills/aggregator-hook-creator/references/implementations.md
Due: format, eval-coverage

fix(uniswap-hooks): add complete CurveAggregatorHook implementation (#58)
  packages/plugins/uniswap-hooks/.claude-plugin/plugin.json
  packages/plugins/uniswap-hooks/skills/aggregator-hook-creator/references/implementations.md
Due: format, eval-coverage

fix(uniswap-hooks): add gas budget guidance for hook callbacks
  packages/plugins/uniswap-hooks/.claude-plugin/plugin.json
  packages/plugins/uniswap-hooks/skills/v4-security-foundations/SKILL.md
Due: format, eval-coverage

fix(uniswap-hooks): add gas budget guidance for hook callbacks (#59)
  packages/plugins/uniswap-hooks/.claude-plugin/plugin.json
  packages/plugins/uniswap-hooks/skills/v4-security-foundations/SKILL.md
Due: format, eval-coverage

fix(uniswap-cca): add CCA repo clone step to deployer guide
  packages/plugins/uniswap-cca/.claude-plugin/plugin.json
  packages/plugins/uniswap-cca/skills/deployer/SKILL.md
Due: format, eval-coverage

fix(evals): increase aggregator-hook-creator max_tokens to prevent truncation
  evals/suites/aggregator-hook-creator/promptfoo.yaml
Due: none

feat(evals): add Nx per-suite caching to skip unchanged eval suites
  .github/workflows/CLAUDE.md
  .github/workflows/evals.yml
  CLAUDE.md
  evals/project.json
Due: format

feat(evals): add Nx per-suite caching to skip unchanged eval suites (#60)
  .github/workflows/CLAUDE.md
  .github/workflows/evals.yml
  CLAUDE.md
  evals/project.json
  evals/suites/aggregator-hook-creator/promptfoo.yaml
  packages/plugins/uniswap-cca/.claude-plugin/plugin.json
  packages/plugins/uniswap-cca/skills/deployer/SKILL.md
Due: format, eval-coverage

fix(uniswap-viem): add RPC rate limit guidance and mitigation strategies
  packages/plugins/uniswap-viem/.claude-plugin/plugin.json
  packages/plugins/uniswap-viem/skills/viem-integration/references/clients-and-transports.md
Due: format, eval-coverage

fix(uniswap-viem): add RPC rate limit guidance and mitigation strategies (#61)
  packages/plugins/uniswap-viem/.claude-plugin/plugin.json
  packages/plugins/uniswap-viem/skills/viem-integration/references/clients-and-transports.md
Due: format, eval-coverage

chore: remove hackathon content, migrate to uniswap-ai-hackathon repo
  .github/ISSUE_TEMPLATE/hackathon-submission.yml
  CLAUDE.md
  README.md
  docs/OVERVIEW.md
  docs/public/hackathon/favicon.png
  docs/public/hackathon/index.html
  docs/public/skill.md
  repo-docs/hackathon/RULES.md
  repo-docs/hackathon/SKILL.md
Due: format

fix: update dead links in OVERVIEW.md after move to docs/
  docs/OVERVIEW.md
Due: format

chore: remove hackathon content, migrate to uniswap-ai-hackathon repo (#64)
  .github/ISSUE_TEMPLATE/hackathon-submission.yml
  CLAUDE.md
  README.md
  docs/OVERVIEW.md
  docs/public/hackathon/favicon.png
  docs/public/hackathon/index.html
  docs/public/skill.md
  repo-docs/hackathon/RULES.md
  repo-docs/hackathon/SKILL.md
Due: format

fix(docs): update Vercel docs URL and remove ai-toolkit references
  .github/workflows/CLAUDE.md
  .github/workflows/ci-pr-checks.yml
  README.md
  docs/OVERVIEW.md
Due: format

fix(docs): update Vercel docs URL and remove ai-toolkit references (#49)
  .github/workflows/CLAUDE.md
  .github/workflows/ci-pr-checks.yml
  README.md
  docs/OVERVIEW.md
Due: format

fix(ci): handle fork PRs with fallback defaults and skip conditions (#56)
  .github/workflows/ci-pr-checks.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-docs-check.yml
  .github/workflows/evals.yml
  .github/workflows/generate-docs.yml
  .github/workflows/generate-pr-title-description.yml
Due: none

fix(ci): revert persist-credentials: false on checkouts that need push access
  .github/workflows/generate-docs.yml
  .github/workflows/publish-packages.yml
Due: none

fix(uniswap-trading): address browser integration pitfalls in swap-integration skill
  packages/plugins/uniswap-trading/.claude-plugin/plugin.json
  packages/plugins/uniswap-trading/skills/swap-integration/SKILL.md
Due: format, eval-coverage

fix(uniswap-trading): address browser integration pitfalls in swap-integration skill (#65)
  packages/plugins/uniswap-trading/.claude-plugin/plugin.json
  packages/plugins/uniswap-trading/skills/swap-integration/SKILL.md
Due: format, eval-coverage

feat(evals): add path-based suite selection and persistent Nx cache
  .github/workflows/CLAUDE.md
  .github/workflows/evals.yml
  CLAUDE.md
Due: format

chore(uniswap-hooks): remove aggregator-hook-creator skill
  CLAUDE.md
  docs/OVERVIEW.md
  docs/contributing/pr-workflow.md
  docs/evals/index.md
  docs/evals/running-evals.md
  docs/getting-started/installation.md
  docs/getting-started/quick-start.md
  docs/index.md
  docs/plugins/index.md
  docs/plugins/uniswap-hooks.md
  docs/skills/aggregator-hook-creator.md
  docs/skills/index.md
  evals/README.md
  evals/project.json
  evals/suites/aggregator-hook-creator/cases/basic-aggregator-hook.md
  evals/suites/aggregator-hook-creator/eval.config.ts
  evals/suites/aggregator-hook-creator/expected/basic-aggregator-hook.md
  evals/suites/aggregator-hook-creator/prompt-wrapper.txt
  evals/suites/aggregator-hook-creator/promptfoo.yaml
  evals/suites/aggregator-hook-creator/rubrics/completeness.txt
  evals/suites/aggregator-hook-creator/rubrics/correctness.txt
  evals/suites/aggregator-hook-creator/rubrics/security.txt
  packages/plugins/uniswap-hooks/.claude-plugin/plugin.json
  packages/plugins/uniswap-hooks/CLAUDE.md
  packages/plugins/uniswap-hooks/README.md
  packages/plugins/uniswap-hooks/package.json
  packages/plugins/uniswap-hooks/skills/aggregator-hook-creator/SKILL.md
  packages/plugins/uniswap-hooks/skills/aggregator-hook-creator/references/implementations.md
  packages/plugins/uniswap-hooks/skills/aggregator-hook-creator/references/protocols/aerodrome.md
  packages/plugins/uniswap-hooks/skills/aggregator-hook-creator/references/protocols/balancer.md
  packages/plugins/uniswap-hooks/skills/aggregator-hook-creator/references/protocols/curve.md
  packages/plugins/uniswap-hooks/skills/aggregator-hook-creator/references/research-notes.md
  scripts/setup-evals-env.sh
Due: format, eval-coverage

chore(uniswap-hooks): remove aggregator-hook-creator skill (#67)
  CLAUDE.md
  docs/OVERVIEW.md
  docs/contributing/pr-workflow.md
  docs/evals/index.md
  docs/evals/running-evals.md
  docs/getting-started/installation.md
  docs/getting-started/quick-start.md
  docs/index.md
  docs/plugins/index.md
  docs/plugins/uniswap-hooks.md
  docs/skills/aggregator-hook-creator.md
  docs/skills/index.md
  evals/README.md
  evals/project.json
  evals/suites/aggregator-hook-creator/cases/basic-aggregator-hook.md
  evals/suites/aggregator-hook-creator/eval.config.ts
  evals/suites/aggregator-hook-creator/expected/basic-aggregator-hook.md
  evals/suites/aggregator-hook-creator/prompt-wrapper.txt
  evals/suites/aggregator-hook-creator/promptfoo.yaml
  evals/suites/aggregator-hook-creator/rubrics/completeness.txt
  evals/suites/aggregator-hook-creator/rubrics/correctness.txt
  evals/suites/aggregator-hook-creator/rubrics/security.txt
  packages/plugins/uniswap-hooks/.claude-plugin/plugin.json
  packages/plugins/uniswap-hooks/CLAUDE.md
  packages/plugins/uniswap-hooks/README.md
  packages/plugins/uniswap-hooks/package.json
  packages/plugins/uniswap-hooks/skills/aggregator-hook-creator/SKILL.md
  packages/plugins/uniswap-hooks/skills/aggregator-hook-creator/references/implementations.md
  packages/plugins/uniswap-hooks/skills/aggregator-hook-creator/references/protocols/aerodrome.md
  packages/plugins/uniswap-hooks/skills/aggregator-hook-creator/references/protocols/balancer.md
  packages/plugins/uniswap-hooks/skills/aggregator-hook-creator/references/protocols/curve.md
  packages/plugins/uniswap-hooks/skills/aggregator-hook-creator/references/research-notes.md
  scripts/setup-evals-env.sh
Due: format, eval-coverage

refactor(evals): use per-suite Nx projects instead of path-filter mapping
  .github/workflows/CLAUDE.md
  .github/workflows/evals.yml
  CLAUDE.md
  evals/project.json
  evals/suites/aggregator-hook-creator/project.json
  evals/suites/configurator/project.json
  evals/suites/deployer/project.json
  evals/suites/liquidity-planner/project.json
  evals/suites/swap-integration/project.json
  evals/suites/swap-planner/project.json
  evals/suites/v4-security-foundations/project.json
  evals/suites/viem-integration/project.json
Due: format

fix: typos developers.uniswap.org and v4 lowercase
  CLAUDE.md
  docs/getting-started/index.md
  docs/getting-started/quick-start.md
  docs/index.md
  docs/plugins/uniswap-driver.md
  docs/plugins/uniswap-hooks.md
  docs/plugins/uniswap-trading.md
  docs/plugins/uniswap-viem.md
  docs/skills/swap-integration.md
  packages/plugins/uniswap-trading/skills/swap-integration/SKILL.md
Due: format, eval-coverage

fix: typos developers.uniswap.org and v4 lowercase
  packages/plugins/uniswap-trading/skills/swap-integration/SKILL.md
Due: format, eval-coverage

fix(skills): bump plugin version to 1.3.1
  packages/plugins/uniswap-trading/.claude-plugin/plugin.json
Due: format, eval-coverage

fix(docs): correct Developer Portal URL and lowercase v4 references (#68)
  CLAUDE.md
  docs/getting-started/index.md
  docs/getting-started/quick-start.md
  docs/index.md
  docs/plugins/uniswap-driver.md
  docs/plugins/uniswap-hooks.md
  docs/plugins/uniswap-trading.md
  docs/plugins/uniswap-viem.md
  docs/skills/swap-integration.md
  packages/plugins/uniswap-trading/.claude-plugin/plugin.json
  packages/plugins/uniswap-trading/skills/swap-integration/SKILL.md
Due: format, eval-coverage

Remove LP skill until it's ready
  CLAUDE.md
  docs/OVERVIEW.md
  docs/index.md
  docs/plugins/index.md
  docs/plugins/uniswap-driver.md
  docs/skills/index.md
  docs/skills/liquidity-planner.md
  docs/skills/swap-planner.md
  evals/README.md
  evals/project.json
  evals/suites/liquidity-planner/cases/basic-v3-position.md
  evals/suites/liquidity-planner/cases/full-range-v2.md
  evals/suites/liquidity-planner/cases/v4-position.md
  evals/suites/liquidity-planner/prompt-wrapper.js
  evals/suites/liquidity-planner/prompt-wrapper.txt
  evals/suites/liquidity-planner/promptfoo.yaml
  evals/suites/liquidity-planner/rubrics/lp-completeness.txt
  evals/suites/liquidity-planner/rubrics/position-correctness.txt
  evals/templates/suite/README.md
  packages/plugins/uniswap-driver/.claude-plugin/plugin.json
  packages/plugins/uniswap-driver/CLAUDE.md
  packages/plugins/uniswap-driver/README.md
  packages/plugins/uniswap-driver/skills/liquidity-planner/SKILL.md
  packages/plugins/uniswap-driver/skills/liquidity-planner/references/data-providers.md
  packages/plugins/uniswap-driver/skills/liquidity-planner/references/position-types.md
Due: format, eval-coverage
