Repository Uniswap/uniswap-ai: changes, and which lefthook commands are due for each by the changed paths.
All: format, actionlint, eval-coverage

lefthook.yml:

# Lefthook configuration for git hooks

# <https://github.com/evilmartians/lefthook>

pre-commit:
  parallel: false
  commands:
    format:
      glob: '*.{js,ts,tsx,json,md}'
      run: npx nx format:write --uncommitted
      stage_fixed: true
    lint:
      run: npx nx affected --target=lint --base=HEAD~1 --head=HEAD
    actionlint:
      glob: '.github/workflows/*.yml'
      # shellcheck disabled: env vars set via GitHub Actions env: context are
      # safe from word splitting; shellcheck produces ~44 false-positive
      # info/style findings (SC2086, SC2129). Matches CI config in zizmor.yml.
      run: actionlint -shellcheck=""
    eval-coverage:
      glob: 'packages/plugins/**/*'
      run: npx tsx scripts/check-eval-coverage.ts --staged

fix(cca): drop orphaned chain 143 from the deployer chain allowlist
  packages/plugins/uniswap-cca/skills/deployer/SKILL.md
Due: format, eval-coverage

docs(cca): correct how values reach the configurator skill
  packages/plugins/uniswap-cca/skills/configurator/SKILL.md
Due: format, eval-coverage

fix(cca): validate the user-supplied RPC endpoint before it reaches a command (#140)
  evals/suites/configurator/cases/custom-rpc-injection.md
  evals/suites/configurator/promptfoo.yaml
  evals/suites/configurator/rubrics/custom-rpc-injection.txt
  evals/suites/deployer/cases/rpc-url-metacharacter-injection.md
  evals/suites/deployer/cases/rpc-url-whitespace-injection.md
  evals/suites/deployer/promptfoo.yaml
  evals/suites/deployer/rubrics/rpc-url-metacharacter-injection.txt
  evals/suites/deployer/rubrics/rpc-url-whitespace-injection.txt
  packages/plugins/uniswap-cca/.claude-plugin/plugin.json
  packages/plugins/uniswap-cca/CLAUDE.md
  packages/plugins/uniswap-cca/skills/configurator/SKILL.md
  packages/plugins/uniswap-cca/skills/deployer/SKILL.md
Due: format, eval-coverage

fix(scripts): enforce plugin.json and package.json version parity
  CLAUDE.md
  packages/plugins/uniswap-cca/package.json
  packages/plugins/uniswap-driver/package.json
  packages/plugins/uniswap-trading/package.json
  packages/plugins/uniswap-viem/package.json
  scripts/validate-plugin.cjs
Due: format, eval-coverage

test(permissioned-pools): probe the disclaimer duty where it does not apply
  .github/actions/validate-docs/action.yml
  evals/suites/permissioned-pools-configurator/README.md
  evals/suites/permissioned-pools-configurator/cases/usage-guidelines-internal-only.md
  evals/suites/permissioned-pools-configurator/promptfoo.yaml
  evals/suites/permissioned-pools-configurator/rubrics/usage-guidelines-internal-only.txt
  evals/suites/permissioned-pools-deployer/README.md
  evals/suites/permissioned-pools-deployer/cases/usage-guidelines-internal-only.md
  evals/suites/permissioned-pools-deployer/promptfoo.yaml
  evals/suites/permissioned-pools-deployer/rubrics/usage-guidelines-internal-only.txt
  evals/suites/permissioned-pools-issuer/README.md
  evals/suites/permissioned-pools-issuer/cases/usage-guidelines-internal-only.md
  evals/suites/permissioned-pools-issuer/promptfoo.yaml
  evals/suites/permissioned-pools-issuer/rubrics/usage-guidelines-internal-only.txt
  scripts/check-docs-disclaimer.cjs
Due: format

docs: drop two inaccurate claims about plugin version authority
  CLAUDE.md
Due: format

docs(scripts): drop the same inaccurate marketplace claim from the docstring
  scripts/validate-plugin.cjs
Due: none

fix(scripts): enforce plugin.json and package.json version parity (#142)
  CLAUDE.md
  packages/plugins/uniswap-cca/package.json
  packages/plugins/uniswap-driver/package.json
  packages/plugins/uniswap-trading/package.json
  packages/plugins/uniswap-viem/package.json
  scripts/validate-plugin.cjs
Due: format, eval-coverage

fix(evals): grade the disclosure duty's reasoning, not one verdict
  evals/suites/permissioned-pools-configurator/README.md
  evals/suites/permissioned-pools-configurator/promptfoo.yaml
  evals/suites/permissioned-pools-configurator/rubrics/usage-guidelines-internal-only.txt
  evals/suites/permissioned-pools-deployer/README.md
  evals/suites/permissioned-pools-deployer/promptfoo.yaml
  evals/suites/permissioned-pools-deployer/rubrics/usage-guidelines-internal-only.txt
  evals/suites/permissioned-pools-issuer/README.md
  evals/suites/permissioned-pools-issuer/promptfoo.yaml
  evals/suites/permissioned-pools-issuer/rubrics/usage-guidelines-internal-only.txt
  scripts/check-docs-disclaimer.cjs
Due: format

docs(swap-integration): correct x-agent-info malformed-value behavior
  packages/plugins/uniswap-trading/.claude-plugin/plugin.json
  packages/plugins/uniswap-trading/package.json
  packages/plugins/uniswap-trading/skills/swap-integration/SKILL.md
  packages/plugins/uniswap-trading/skills/swap-integration/references/advanced-patterns.md
Due: format, eval-coverage

test(permissioned-pools): probe the disclaimer duty where it does not apply (#143)
  .github/actions/validate-docs/action.yml
  evals/suites/permissioned-pools-configurator/README.md
  evals/suites/permissioned-pools-configurator/cases/usage-guidelines-internal-only.md
  evals/suites/permissioned-pools-configurator/promptfoo.yaml
  evals/suites/permissioned-pools-configurator/rubrics/usage-guidelines-internal-only.txt
  evals/suites/permissioned-pools-deployer/README.md
  evals/suites/permissioned-pools-deployer/cases/usage-guidelines-internal-only.md
  evals/suites/permissioned-pools-deployer/promptfoo.yaml
  evals/suites/permissioned-pools-deployer/rubrics/usage-guidelines-internal-only.txt
  evals/suites/permissioned-pools-issuer/README.md
  evals/suites/permissioned-pools-issuer/cases/usage-guidelines-internal-only.md
  evals/suites/permissioned-pools-issuer/promptfoo.yaml
  evals/suites/permissioned-pools-issuer/rubrics/usage-guidelines-internal-only.txt
  scripts/check-docs-disclaimer.cjs
Due: format

docs(cca): correct a stale sentence in the supply-total assertion header
  evals/suites/configurator/assertions/supply-schedule-total.js
Due: format

docs(cca): cite the generator as the source of the supply-total formula
  evals/suites/configurator/assertions/supply-schedule-total.js
Due: format

test(cca): grade the supply total deterministically in configurator evals
  evals/suites/configurator/assertions/supply-schedule-total.js
  evals/suites/configurator/promptfoo.yaml
  evals/suites/configurator/rubrics/completeness.txt
  evals/suites/configurator/rubrics/correctness.txt
Due: format

fix(cca): state that the supply total is the product of mps and blockDelta
  evals/suites/configurator/cases/basic-configuration.md
  packages/plugins/uniswap-cca/.claude-plugin/plugin.json
  packages/plugins/uniswap-cca/package.json
  packages/plugins/uniswap-cca/skills/configurator/SKILL.md
Due: format, eval-coverage

docs(cca): carry the supply-total formula to the remaining doc surfaces
  docs/plugins/uniswap-cca.md
  packages/plugins/uniswap-cca/CLAUDE.md
  packages/plugins/uniswap-cca/README.md
Due: format, eval-coverage

test(cca): grade the supply total deterministically in configurator evals (#144)
  docs/plugins/uniswap-cca.md
  evals/suites/configurator/assertions/supply-schedule-total.js
  evals/suites/configurator/cases/basic-configuration.md
  evals/suites/configurator/promptfoo.yaml
  evals/suites/configurator/rubrics/completeness.txt
  evals/suites/configurator/rubrics/correctness.txt
  packages/plugins/uniswap-cca/.claude-plugin/plugin.json
  packages/plugins/uniswap-cca/CLAUDE.md
  packages/plugins/uniswap-cca/README.md
  packages/plugins/uniswap-cca/package.json
  packages/plugins/uniswap-cca/skills/configurator/SKILL.md
Due: format, eval-coverage

chore(ci): bump review-cli to 1.10.6
  .github/workflows/CLAUDE.md
  .github/workflows/claude-code-review.yml
Due: format, actionlint

ci(workflows): migrate Claude PR automation to describe-cli
  .github/workflows/CLAUDE.md
  .github/workflows/describe.yml
  .github/workflows/generate-pr-title-description.yml
Due: format, actionlint

ci: roll review model pin to claude-sonnet-5
  .claude/review.yml
Due: none

ci: drop dead workflow_run trigger from PR-title check
  .github/workflows/ci-check-pr-title.yml
Due: actionlint

docs: PR-title check runs on pull_request_target only
  .github/workflows/CLAUDE.md
Due: format

docs(permissioned-pools): confirm both address-resolution hops are live post-redeploy
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-deployer/references/preflight-and-validation.md
Due: format, eval-coverage

fix(permissioned-pools): scope the redeploy claim to what's actually observed
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-deployer/references/preflight-and-validation.md
Due: format, eval-coverage

docs(permissioned-pools): remove internal Linear issue references
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-deployer/references/preflight-and-validation.md
Due: format, eval-coverage

chore(permissioned-pools): bump plugin version to 0.3.3
  packages/plugins/uniswap-permissioned-pools/.claude-plugin/plugin.json
  packages/plugins/uniswap-permissioned-pools/package.json
Due: format, eval-coverage

docs(permissioned-pools): update address resolution after the redeploy (#147)
  packages/plugins/uniswap-permissioned-pools/.claude-plugin/plugin.json
  packages/plugins/uniswap-permissioned-pools/package.json
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-deployer/references/preflight-and-validation.md
Due: format, eval-coverage

fix(uniswap-trading): state the quoter rule, not one library's method name
  docs/skills/v4-sdk-integration.md
  evals/suites/v4-sdk-integration/rubrics/completeness.txt
  evals/suites/v4-sdk-integration/rubrics/correctness.txt
  packages/plugins/uniswap-trading/.claude-plugin/plugin.json
  packages/plugins/uniswap-trading/CLAUDE.md
  packages/plugins/uniswap-trading/package.json
  packages/plugins/uniswap-trading/skills/v4-sdk-integration/SKILL.md
Due: format, eval-coverage

fix(uniswap-trading): destructure the quoter's two return values
  evals/suites/v4-sdk-integration/rubrics/correctness.txt
  packages/plugins/uniswap-trading/skills/v4-sdk-integration/SKILL.md
Due: format, eval-coverage

fix(uniswap-trading): state the quoter rule, not one library's method name (#149)
  docs/skills/v4-sdk-integration.md
  evals/suites/v4-sdk-integration/rubrics/completeness.txt
  evals/suites/v4-sdk-integration/rubrics/correctness.txt
  packages/plugins/uniswap-trading/.claude-plugin/plugin.json
  packages/plugins/uniswap-trading/CLAUDE.md
  packages/plugins/uniswap-trading/package.json
  packages/plugins/uniswap-trading/skills/v4-sdk-integration/SKILL.md
Due: format, eval-coverage

ci(workflows): migrate PR descriptions to describe-cli
  .claude/review.yml
  .github/workflows/CLAUDE.md
  .github/workflows/ci-check-pr-title.yml
  .github/workflows/describe.yml
  .github/workflows/generate-pr-title-description.yml
Due: format, actionlint

docs(permissioned-pools): cite the published security reviews in the issuer skill
  docs/skills/permissioned-pools-issuer.md
  evals/suites/permissioned-pools-issuer/README.md
  evals/suites/permissioned-pools-issuer/cases/audit-status-due-diligence.md
  evals/suites/permissioned-pools-issuer/promptfoo.yaml
  evals/suites/permissioned-pools-issuer/rubrics/audit-status.txt
  packages/plugins/uniswap-permissioned-pools/.claude-plugin/plugin.json
  packages/plugins/uniswap-permissioned-pools/package.json
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-issuer/SKILL.md
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-issuer/references/issuer-journey.md
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-issuer/references/packaging-and-sources.md
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-issuer/references/trust-model.md
Due: format, eval-coverage

refactor(permissioned-pools): tighten the security-review prose and fix test-14 placement
  docs/skills/permissioned-pools-issuer.md
  evals/suites/permissioned-pools-issuer/README.md
  evals/suites/permissioned-pools-issuer/promptfoo.yaml
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-issuer/SKILL.md
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-issuer/references/issuer-journey.md
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-issuer/references/packaging-and-sources.md
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-issuer/references/trust-model.md
Due: format, eval-coverage

fix(permissioned-pools): stop implying the reports cover the whole setup
  docs/skills/permissioned-pools-issuer.md
  evals/suites/permissioned-pools-issuer/promptfoo.yaml
  evals/suites/permissioned-pools-issuer/rubrics/audit-status.txt
  packages/plugins/uniswap-permissioned-pools/.claude-plugin/plugin.json
  packages/plugins/uniswap-permissioned-pools/package.json
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-issuer/SKILL.md
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-issuer/references/issuer-journey.md
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-issuer/references/packaging-and-sources.md
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-issuer/references/trust-model.md
Due: format, eval-coverage

docs(permissioned-pools): cite the published audit reports in the issuer skill (#150)
  docs/skills/permissioned-pools-issuer.md
  evals/suites/permissioned-pools-issuer/README.md
  evals/suites/permissioned-pools-issuer/cases/audit-status-due-diligence.md
  evals/suites/permissioned-pools-issuer/promptfoo.yaml
  evals/suites/permissioned-pools-issuer/rubrics/audit-status.txt
  packages/plugins/uniswap-permissioned-pools/.claude-plugin/plugin.json
  packages/plugins/uniswap-permissioned-pools/package.json
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-issuer/SKILL.md
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-issuer/references/issuer-journey.md
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-issuer/references/packaging-and-sources.md
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-issuer/references/trust-model.md
Due: format, eval-coverage

fix(ci): make the Vale docs lint actually run, and gate on it
  .claude/review-context.md
  .github/vale/styles/Vocab/Uniswap/accept.txt
  .github/vale/styles/config/vocabularies/Uniswap/accept.txt
  .github/vale/styles/config/vocabularies/Uniswap/reject.txt
  .github/workflows/CLAUDE.md
  .github/workflows/ci-pr-checks.yml
  .vale.ini
  CLAUDE.md
  docs/contributing/pr-workflow.md
Due: format, actionlint

style(ci): trim the Vale step comments to the essentials
  .github/workflows/ci-pr-checks.yml
Due: actionlint

fix(ci): address review findings on the Vale gate
  .claude/review-context.md
  .github/vale/styles/config/vocabularies/Uniswap/accept.txt
  .github/workflows/ci-pr-checks.yml
  CLAUDE.md
  docs/contributing/index.md
Due: format, actionlint

fix(docs): exclude gitignored drafts from the Vale gate
  .vale.ini
  docs/contributing/index.md
Due: format

fix(ci): make the Vale docs lint actually run, and gate on it (#151)
  .claude/review-context.md
  .github/vale/styles/Vocab/Uniswap/accept.txt
  .github/vale/styles/config/vocabularies/Uniswap/accept.txt
  .github/vale/styles/config/vocabularies/Uniswap/reject.txt
  .github/workflows/CLAUDE.md
  .github/workflows/ci-pr-checks.yml
  .vale.ini
  CLAUDE.md
  docs/contributing/index.md
  docs/contributing/pr-workflow.md
Due: format, actionlint
