Repository Uniswap/uniswap-ai: changes, and which lefthook commands are due for each by the changed paths.
All: format, actionlint, eval-coverage

format:
  run: npx nx format:write --uncommitted
  stage_fixed: true

actionlint:
  run: actionlint -shellcheck=""

eval-coverage:
  run: npx tsx scripts/check-eval-coverage.ts --staged

fix(ci): report a cancelled review as superseded, not failed
  .github/workflows/claude-code-review.yml
Due: actionlint

fix(ci): correct three security comments and close a free fork guard
  .github/workflows/claude-code-review.yml
Due: actionlint

fix(permissioned-pools): give the rubric grader room to emit its verdict
  evals/suites/permissioned-pools-issuer/promptfoo.yaml
  evals/suites/permissioned-pools-issuer/rubrics/address-hygiene.txt
  evals/suites/permissioned-pools-issuer/rubrics/casing-and-packaging.txt
  evals/suites/permissioned-pools-issuer/rubrics/disclaimer-and-scope.txt
  evals/suites/permissioned-pools-issuer/rubrics/enforced-ordering.txt
  evals/suites/permissioned-pools-issuer/rubrics/trust-model-completeness.txt
  evals/suites/permissioned-pools-issuer/rubrics/wrapper-registration.txt
  evals/suites/permissioned-pools-issuer/rubrics/wrapper-trust.txt
Due: none

fix(permissioned-pools): make the acknowledgment gate fire only on action-oriented guidance
  packages/plugins/uniswap-permissioned-pools/skills/permissioned-pools-issuer/SKILL.md
Due: format, eval-coverage

chore(deps): maintain Claude Code Action workflows (cca=v1.0.183, ait=9b405c7)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-docs-check.yml
  .github/workflows/generate-pr-title-description.yml
Due: actionlint

feat(ci): review PRs with @uniswap/review-cli instead of ai-toolkit (#123)
  .claude/review-context.md
  .claude/review.yml
  .github/workflows/CLAUDE.md
  .github/workflows/claude-code-review.yml
Due: format, actionlint

fix(ci): treat a cancelled review as its own terminal state
  .github/workflows/CLAUDE.md
  .github/workflows/claude-code-review.yml
Due: format, actionlint

fix(ci): detect cancellation with cancelled(), and stop asserting why (#125)
  .github/workflows/CLAUDE.md
  .github/workflows/claude-code-review.yml
Due: format, actionlint

docs(ci): correct two unverified claims about why the skip overrides exist
  .github/workflows/CLAUDE.md
Due: format

docs(ci): correct two unverified claims about the review skip overrides (#126)
  .github/workflows/CLAUDE.md
Due: format

chore(ci): remove the inert auto-merge-dependabot job
  .github/workflows/CLAUDE.md
  .github/workflows/claude-code-review.yml
Due: format, actionlint

fix(evals): correct Opus 4.5 pricing and add Sonnet 4.6 to the cost table
  evals/scripts/anthropic-provider.ts
Due: format

docs(claude): add deliverable-length guidance for Claude-authored docs
  CLAUDE.md
Due: format

chore(ci): drop the last auto-merge mention from the header
  .github/workflows/claude-code-review.yml
Due: actionlint

chore(ci): remove the inert auto-merge-dependabot job (#127)
  .github/workflows/CLAUDE.md
  .github/workflows/claude-code-review.yml
Due: format, actionlint

fix(plugins): use 'tools' key in agent frontmatter, not 'allowed-tools'
  packages/plugins/uniswap-trading/agents/swap-integration-expert.md
  packages/plugins/uniswap-viem/agents/viem-integration-expert.md
Due: format, eval-coverage

fix(uniswap-trading): allow AskUserQuestion in swap/lp integration skills
  packages/plugins/uniswap-trading/skills/lp-integration/SKILL.md
  packages/plugins/uniswap-trading/skills/swap-integration/SKILL.md
Due: format, eval-coverage

docs(uniswap-trading): list pay-with-app skill in plugin CLAUDE.md
  packages/plugins/uniswap-trading/CLAUDE.md
Due: format, eval-coverage

refactor(uniswap-trading): explain gates by threat model, not grader pressure
  packages/plugins/uniswap-trading/skills/pay-with-any-token/SKILL.md
  packages/plugins/uniswap-trading/skills/pay-with-app/SKILL.md
Due: format, eval-coverage

refactor(uniswap-driver): unbind confirmation gates from AskUserQuestion-only phrasing
  packages/plugins/uniswap-driver/skills/liquidity-planner/SKILL.md
  packages/plugins/uniswap-driver/skills/swap-planner/SKILL.md
Due: format, eval-coverage

docs(uniswap-cca): fix stale mcp-server docs
  packages/plugins/uniswap-cca/mcp-server/README.md
  packages/plugins/uniswap-cca/mcp-server/supply-schedule/README.md
Due: format, eval-coverage

refactor(evals): demote compliance to a bonus in dca/index completeness rubrics
  evals/suites/dca-bot/rubrics/completeness.txt
  evals/suites/index-bot/rubrics/completeness.txt
Due: none

fix(evals): remove dead phase references from pay-with-any-token rubrics
  evals/suites/pay-with-any-token/rubrics/input-validation.txt
  evals/suites/pay-with-any-token/rubrics/no-hallucinated-wallet.txt
Due: none

docs: Opus 5 instruction-calibration rewrites in CLAUDE.md and review context
  .claude/review-context.md
  CLAUDE.md
Due: format

chore(evals): delete unused shared rubric and prompt wrapper, refresh stale eval docs
  CLAUDE.md
  evals/README.md
  evals/promptfoo.yaml
  evals/rubrics/security-checklist.txt
  evals/suites/liquidity-planner/prompt-wrapper.txt
Due: format

chore(plugins): bump patch versions for Opus 5 migration fixes
  packages/plugins/uniswap-cca/.claude-plugin/plugin.json
  packages/plugins/uniswap-driver/.claude-plugin/plugin.json
  packages/plugins/uniswap-trading/.claude-plugin/plugin.json
  packages/plugins/uniswap-viem/.claude-plugin/plugin.json
Due: format, eval-coverage

style(evals): wrap bare URL in lp-integration basic case (markdownlint MD034)
  evals/suites/lp-integration/cases/basic.md
Due: format

chore(deps): update ai-toolkit reusable workflow SHAs to c4820d6
  .github/workflows/claude-docs-check.yml
  .github/workflows/generate-pr-title-description.yml
Due: actionlint

chore(deps): maintain Claude Code Action workflows (cca=v1.0.185, ait=c4820d6)
  .github/workflows/claude-docs-check.yml
  .github/workflows/generate-pr-title-description.yml
Due: actionlint

chore(deps): maintain Claude Code Action workflows (v1.0.185) (#130)
  .github/workflows/claude-docs-check.yml
  .github/workflows/generate-pr-title-description.yml
Due: actionlint

chore(config): migrate Claude config and marketplace plugins for Opus 5 (#128)
  .claude/review-context.md
  CLAUDE.md
  evals/README.md
  evals/promptfoo.yaml
  evals/rubrics/security-checklist.txt
  evals/scripts/anthropic-provider.ts
  evals/suites/dca-bot/rubrics/completeness.txt
  evals/suites/index-bot/rubrics/completeness.txt
  evals/suites/liquidity-planner/prompt-wrapper.txt
  evals/suites/lp-integration/cases/basic.md
  evals/suites/pay-with-any-token/rubrics/input-validation.txt
  evals/suites/pay-with-any-token/rubrics/no-hallucinated-wallet.txt
  packages/plugins/uniswap-cca/.claude-plugin/plugin.json
  packages/plugins/uniswap-cca/mcp-server/README.md
  packages/plugins/uniswap-cca/mcp-server/supply-schedule/README.md
  packages/plugins/uniswap-driver/.claude-plugin/plugin.json
  packages/plugins/uniswap-driver/skills/liquidity-planner/SKILL.md
  packages/plugins/uniswap-driver/skills/swap-planner/SKILL.md
  packages/plugins/uniswap-trading/.claude-plugin/plugin.json
  packages/plugins/uniswap-trading/CLAUDE.md
  packages/plugins/uniswap-trading/agents/swap-integration-expert.md
  packages/plugins/uniswap-trading/skills/lp-integration/SKILL.md
  packages/plugins/uniswap-trading/skills/pay-with-any-token/SKILL.md
  packages/plugins/uniswap-trading/skills/pay-with-app/SKILL.md
  packages/plugins/uniswap-trading/skills/swap-integration/SKILL.md
  packages/plugins/uniswap-viem/.claude-plugin/plugin.json
  packages/plugins/uniswap-viem/agents/viem-integration-expert.md
Due: format, eval-coverage

fix(ci): run docs-check on claude[bot] PRs via immutable account id
  .github/workflows/CLAUDE.md
  .github/workflows/claude-docs-check.yml
Due: format, actionlint

docs(ci): record the second bot gate that blocks docs-check on bot PRs
  .github/workflows/CLAUDE.md
  .github/workflows/claude-docs-check.yml
Due: format, actionlint

docs(ci): record that allowed_bots is hardcoded in the ai-toolkit callers
  .github/workflows/CLAUDE.md
Due: format

docs(ci): note the review-cli path is immune to the claude-code-action gate
  .github/workflows/CLAUDE.md
Due: format

feat(ci): auto-commit docs fixes from the docs check
  .github/workflows/CLAUDE.md
  .github/workflows/claude-docs-check.yml
Due: format, actionlint

fix(ci): drop auto_fix, keep docs-check identity gate
  .github/workflows/CLAUDE.md
  .github/workflows/claude-docs-check.yml
Due: format, actionlint

style(ci): restore prettier formatting after the web-editor edit
  .github/workflows/CLAUDE.md
  .github/workflows/claude-docs-check.yml
Due: format, actionlint

fix(evals): stop lockfile changes from selecting every eval suite
  .github/workflows/evals.yml
Due: actionlint

Path conditions:
  format: any of: *.{js,ts,tsx,json,md}
  actionlint: any of: .github/workflows/*.yml
  eval-coverage: any of: packages/plugins/**/*
