Repository Uniswap/uniswap-ai: changes, and which lefthook commands are due for each by the changed paths.
All: format, actionlint, eval-coverage

lefthook.yml:

# Lefthook configuration for git hooks

# <https://github.com/evilmartians/lefthook>

pre-commit:
  parallel: false
  commands:
    format:
      glob: '*.{js,ts,tsx,json,md}'
      run: npx nx format:write --uncommitted
      stage_fixed: true
    lint:
      run: npx nx affected --target=lint --base=HEAD~1 --head=HEAD
    actionlint:
      glob: '.github/workflows/*.yml'
      # shellcheck disabled: env vars set via GitHub Actions env: context are
      # safe from word splitting; shellcheck produces ~44 false-positive
      # info/style findings (SC2086, SC2129). Matches CI config in zizmor.yml.
      run: actionlint -shellcheck=""
    eval-coverage:
      glob: 'packages/plugins/**/*'
      run: npx tsx scripts/check-eval-coverage.ts --staged

fix(pay-with-app): tighten APP naming + AskUserQuestion prose in SKILL.md
  packages/plugins/uniswap-trading/skills/pay-with-app/SKILL.md
Due: format, eval-coverage

fix(pay-with-app): use authoritative EIP-55 checksum for UNI address
  evals/suites/pay-with-app/cases/multi-token-funding.md
Due: format

Update evals/suites/pay-with-app/cases/multi-token-funding.md
  evals/suites/pay-with-app/cases/multi-token-funding.md
Due: format

fix(uniswap-trading): align pay-with-app with Across coverage gap reality
  evals/suites/pay-with-app/cases/multi-token-funding.md
  evals/suites/pay-with-app/promptfoo.yaml
  evals/suites/pay-with-app/rubrics/correctness.txt
  packages/plugins/uniswap-trading/skills/pay-with-app/SKILL.md
  packages/plugins/uniswap-trading/skills/pay-with-app/references/funding-x-layer.md
Due: format, eval-coverage

test(pay-with-app): tighten eval suite reliability and Option A alignment
  evals/suites/pay-with-app/promptfoo.yaml
  evals/suites/pay-with-app/rubrics/completeness.txt
  evals/suites/pay-with-app/rubrics/confirmation-gate.txt
  evals/suites/pay-with-app/rubrics/correctness.txt
  evals/suites/pay-with-app/rubrics/eip712-domain.txt
  evals/suites/pay-with-app/rubrics/expired-validbefore.txt
  evals/suites/pay-with-app/rubrics/gas-sponsorship.txt
  evals/suites/pay-with-app/rubrics/input-validation.txt
  evals/suites/pay-with-app/rubrics/malformed-body.txt
  evals/suites/pay-with-app/rubrics/multi-accepts.txt
  evals/suites/pay-with-app/rubrics/no-hallucinated-wallet.txt
  evals/suites/pay-with-app/rubrics/unsupported-scheme.txt
  evals/suites/pay-with-app/rubrics/usdc-fail-fast.txt
  evals/suites/pay-with-app/rubrics/wokb-refusal.txt
  evals/suites/pay-with-app/rubrics/wrong-network.txt
Due: none

fix(uniswap-trading): make Phase B Across-gap branch actually reachable
  packages/plugins/uniswap-trading/skills/pay-with-app/references/funding-x-layer.md
Due: format, eval-coverage

test(pay-with-app): expand eval suite with 12 coverage-gap cases
  evals/suites/pay-with-app/cases/already-past-validbefore.md
  evals/suites/pay-with-app/cases/batch-settlement-scheme.md
  evals/suites/pay-with-app/cases/insufficient-source-balance.md
  evals/suites/pay-with-app/cases/malformed-accepts-array.md
  evals/suites/pay-with-app/cases/massive-amount.md
  evals/suites/pay-with-app/cases/mixed-schemes-accepts.md
  evals/suites/pay-with-app/cases/non-https-resource.md
  evals/suites/pay-with-app/cases/resource-host-mismatch.md
  evals/suites/pay-with-app/cases/shared-wallet-race.md
  evals/suites/pay-with-app/cases/upto-scheme.md
  evals/suites/pay-with-app/cases/x402version-mismatch.md
  evals/suites/pay-with-app/cases/zero-amount.md
  evals/suites/pay-with-app/promptfoo.yaml
  evals/suites/pay-with-app/rubrics/already-past-validbefore.txt
  evals/suites/pay-with-app/rubrics/batch-settlement-scheme.txt
  evals/suites/pay-with-app/rubrics/correctness.txt
  evals/suites/pay-with-app/rubrics/insufficient-source-balance.txt
  evals/suites/pay-with-app/rubrics/malformed-accepts-array.txt
  evals/suites/pay-with-app/rubrics/massive-amount.txt
  evals/suites/pay-with-app/rubrics/mixed-schemes-accepts.txt
  evals/suites/pay-with-app/rubrics/non-https-resource.txt
  evals/suites/pay-with-app/rubrics/resource-host-mismatch.txt
  evals/suites/pay-with-app/rubrics/shared-wallet-race.txt
  evals/suites/pay-with-app/rubrics/upto-scheme.txt
  evals/suites/pay-with-app/rubrics/x402version-mismatch.txt
  evals/suites/pay-with-app/rubrics/zero-amount.txt
  packages/plugins/uniswap-trading/skills/pay-with-app/SKILL.md
Due: format, eval-coverage

fix(pay-with-app): document Node + viem prereq, install on demand with user confirmation
  packages/plugins/uniswap-trading/skills/pay-with-app/SKILL.md
  packages/plugins/uniswap-trading/skills/pay-with-app/references/app-x402-flow.md
Due: format, eval-coverage

fix(pay-with-any-token): add Phase 5 swap and fix uint256 overflow (#97)
  evals/suites/pay-with-any-token/promptfoo.yaml
  evals/suites/pay-with-any-token/rubrics/correctness.txt
  packages/plugins/uniswap-trading/skills/pay-with-any-token/SKILL.md
  packages/plugins/uniswap-trading/skills/pay-with-any-token/references/trading-api-flows.md
  packages/plugins/uniswap-trading/skills/swap-integration/SKILL.md
Due: format, eval-coverage

docs(pay-with-app): sync Prerequisites with SKILL.md (Node + viem)
  docs/skills/pay-with-app.md
Due: format

fix(pay-with-app): close 4 eval-rubric gaps surfaced by CI run on 1e149a5
  packages/plugins/uniswap-trading/skills/pay-with-app/SKILL.md
  packages/plugins/uniswap-trading/skills/pay-with-app/references/funding-x-layer.md
Due: format, eval-coverage

chore(deps): update ai-toolkit reusable workflow SHAs to 4d55967 (#99)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-docs-check.yml
  .github/workflows/generate-pr-title-description.yml
Due: actionlint

chore(ci): bump ai-toolkit reusable workflow pin
  .github/workflows/claude-code-review.yml
Due: actionlint

chore(ci): bump remaining ai-toolkit reusable workflow pins
  .github/workflows/claude-docs-check.yml
  .github/workflows/generate-pr-title-description.yml
Due: actionlint

chore(ci): retarget pins to current ai-toolkit main HEAD
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-docs-check.yml
  .github/workflows/generate-pr-title-description.yml
Due: actionlint

fix(ci): bump ai-toolkit reusable workflows past #453 RCE hardening
  .github/workflows/claude-docs-check.yml
  .github/workflows/generate-pr-title-description.yml
Due: actionlint

fix(ci): extend #453 hardening to claude-code-review.yml
  .github/workflows/claude-code-review.yml
Due: actionlint

chore(deps): update ai-toolkit reusable workflow SHAs to 96ef665
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-docs-check.yml
  .github/workflows/generate-pr-title-description.yml
Due: actionlint

chore(ci): bump ai-toolkit reusable workflow pin (#101)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-docs-check.yml
  .github/workflows/generate-pr-title-description.yml
Due: actionlint

chore(deps): update ai-toolkit reusable workflow SHAs to 11b1ad8
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-docs-check.yml
  .github/workflows/generate-pr-title-description.yml
Due: actionlint

fix(ci): drop removed plugin_ref input from docs-check caller
  .github/workflows/claude-docs-check.yml
Due: actionlint

fix(ci): drop removed plugin_ref input from docs-check caller (#106)
  .github/workflows/claude-docs-check.yml
Due: actionlint

refactor(ci): realign npm publish scope from @uniswap-ai to @uniswap
  .github/actions/check-automated-pr/action.yml
  .github/workflows/publish-packages.yml
  package-lock.json
  package.json
  tsconfig.base.json
Due: format, actionlint

chore(ci): bump ai-toolkit pin to b39cd9a to pick up claude-code-action v1.0.119
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-docs-check.yml
  .github/workflows/generate-pr-title-description.yml
Due: actionlint

chore(deps): update ai-toolkit reusable workflow SHAs to b39cd9a
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-docs-check.yml
  .github/workflows/generate-pr-title-description.yml
Due: actionlint

chore(ci): bump ai-toolkit pin to 83ac42b for bullfrog allowlist fix
  .github/workflows/claude-docs-check.yml
Due: actionlint

chore(ci): bump ai-toolkit pin to 83ac42b for github_token fix
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-docs-check.yml
  .github/workflows/generate-pr-title-description.yml
Due: actionlint

docs(uniswap-driver): drop @uniswap-ai suffix from install command
  packages/plugins/uniswap-driver/README.md
Due: format, eval-coverage

chore(uniswap-driver): bump plugin version 0.5.2 -> 0.5.3
  packages/plugins/uniswap-driver/.claude-plugin/plugin.json
  packages/plugins/uniswap-driver/package.json
Due: format, eval-coverage

chore(cca,viem): resync drifted plugin.json + package.json versions
  packages/plugins/uniswap-cca/.claude-plugin/plugin.json
  packages/plugins/uniswap-cca/package.json
  packages/plugins/uniswap-viem/.claude-plugin/plugin.json
  packages/plugins/uniswap-viem/package.json
Due: format, eval-coverage

chore: sync package-lock.json with bumped workspace versions
  package-lock.json
Due: format

refactor(ci): realign npm publish scope from @uniswap-ai to @uniswap (#105)
  .github/actions/check-automated-pr/action.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-docs-check.yml
  .github/workflows/generate-pr-title-description.yml
  .github/workflows/publish-packages.yml
  package-lock.json
  package.json
  packages/plugins/uniswap-cca/.claude-plugin/plugin.json
  packages/plugins/uniswap-cca/package.json
  packages/plugins/uniswap-driver/.claude-plugin/plugin.json
  packages/plugins/uniswap-driver/README.md
  packages/plugins/uniswap-driver/package.json
  packages/plugins/uniswap-viem/.claude-plugin/plugin.json
  packages/plugins/uniswap-viem/package.json
  tsconfig.base.json
Due: format, actionlint, eval-coverage

chore(deps): migrate package manager from npm to bun
  .github/workflows/CLAUDE.md
  .github/workflows/ci-check-pr-title.yml
  .github/workflows/ci-pr-checks.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/evals.yml
  .github/workflows/generate-docs.yml
  .github/workflows/publish-packages.yml
  .github/workflows/zizmor.yml
  .gitignore
  .npmrc
  CLAUDE.md
  bun.lock
  bunfig.toml
  docs/OVERVIEW.md
  docs/contributing/index.md
  docs/evals/index.md
  docs/evals/running-evals.md
  docs/getting-started/installation.md
  evals/project.json
  evals/suites/configurator/project.json
  evals/suites/deployer/project.json
  evals/suites/liquidity-planner/project.json
  evals/suites/pay-with-any-token/project.json
  evals/suites/pay-with-app/project.json
  evals/suites/swap-integration/project.json
  evals/suites/swap-planner/project.json
  evals/suites/v4-hook-generator/project.json
  evals/suites/v4-sdk-integration/project.json
  evals/suites/v4-security-foundations/project.json
  evals/suites/viem-integration/project.json
  lefthook.yml
  nx.json
  package-lock.json
  package.json
  scripts/check-eval-coverage.ts
  scripts/prepare.cjs
  vercel.json
Due: format, actionlint

chore(deps): migrate package manager from npm to bun (#108)
  .github/workflows/CLAUDE.md
  .github/workflows/ci-check-pr-title.yml
  .github/workflows/ci-pr-checks.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/evals.yml
  .github/workflows/generate-docs.yml
  .github/workflows/publish-packages.yml
  .github/workflows/zizmor.yml
  .gitignore
  .npmrc
  CLAUDE.md
  bun.lock
  bunfig.toml
  docs/OVERVIEW.md
  docs/contributing/index.md
  docs/evals/index.md
  docs/evals/running-evals.md
  docs/getting-started/installation.md
  evals/project.json
  evals/suites/configurator/project.json
  evals/suites/deployer/project.json
  evals/suites/liquidity-planner/project.json
  evals/suites/pay-with-any-token/project.json
  evals/suites/pay-with-app/project.json
  evals/suites/swap-integration/project.json
  evals/suites/swap-planner/project.json
  evals/suites/v4-hook-generator/project.json
  evals/suites/v4-sdk-integration/project.json
  evals/suites/v4-security-foundations/project.json
  evals/suites/viem-integration/project.json
  lefthook.yml
  nx.json
  package-lock.json
  package.json
  scripts/check-eval-coverage.ts
  scripts/prepare.cjs
  vercel.json
Due: format, actionlint

fix(workflows): randomize $GITHUB_OUTPUT heredoc delimiters
  .github/actions/validate-plugins/action.yml
Due: none

fix(workflows): randomize $GITHUB_OUTPUT heredoc delimiters (#109)
  .github/actions/validate-plugins/action.yml
Due: none

chore(deps): maintain Claude Code Action workflows (cca=v1.0.133, ait=824dfc1)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-docs-check.yml
  .github/workflows/generate-pr-title-description.yml
Due: actionlint

chore(deps): update ai-toolkit reusable workflow SHAs to f43e9a2
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-docs-check.yml
  .github/workflows/generate-pr-title-description.yml
Due: actionlint
