Repository Uniswap/uniswap-ai: changes, and which lefthook commands are due for each by the changed paths.
All: format, eval-coverage

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: false
  commands:
    format:
      glob: '*.{js,ts,tsx,json,md}'
      run: npx nx format:write --uncommitted
      stage_fixed: true
    lint:
      run: npx nx affected --target=lint --base=HEAD~1 --head=HEAD
    eval-coverage:
      glob: 'packages/plugins/**/*'
      run: npx tsx scripts/check-eval-coverage.ts --staged

fix(workflows): resolve zizmor GitHub Actions security findings (#38)
  .github/workflows/ci-check-pr-title.yml
  .github/workflows/ci-pr-checks.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-docs-check.yml
  .github/workflows/evals.yml
  .github/workflows/generate-pr-title-description.yml
  .github/workflows/publish-packages.yml
Due: none

refactor(evals): per-suite Nx projects with implicit dependencies and persistent cache (#66)
  .github/workflows/CLAUDE.md
  .github/workflows/evals.yml
  CLAUDE.md
  evals/project.json
  evals/suites/configurator/project.json
  evals/suites/deployer/project.json
  evals/suites/liquidity-planner/project.json
  evals/suites/swap-integration/project.json
  evals/suites/swap-planner/project.json
  evals/suites/v4-security-foundations/project.json
  evals/suites/viem-integration/project.json
Due: format

chore(uniswap-driver): hide liquidity-planner from skill discovery
  packages/plugins/uniswap-driver/.claude-plugin/plugin.json
Due: format, eval-coverage

Hide LP skill from discovery until it's ready
  CLAUDE.md
  docs/OVERVIEW.md
  docs/index.md
  docs/plugins/index.md
  docs/plugins/uniswap-driver.md
  docs/skills/index.md
  docs/skills/liquidity-planner.md
  docs/skills/swap-planner.md
  evals/README.md
  evals/suites/liquidity-planner/cases/basic-v3-position.md
  evals/suites/liquidity-planner/cases/full-range-v2.md
  evals/suites/liquidity-planner/cases/v4-position.md
  evals/suites/liquidity-planner/prompt-wrapper.js
  evals/suites/liquidity-planner/prompt-wrapper.txt
  evals/suites/liquidity-planner/promptfoo.yaml
  evals/suites/liquidity-planner/rubrics/lp-completeness.txt
  evals/suites/liquidity-planner/rubrics/position-correctness.txt
  evals/templates/suite/README.md
  packages/plugins/uniswap-driver/.claude-plugin/plugin.json
  packages/plugins/uniswap-driver/CLAUDE.md
  packages/plugins/uniswap-driver/README.md
  packages/plugins/uniswap-driver/skills/liquidity-planner/SKILL.md
  packages/plugins/uniswap-driver/skills/liquidity-planner/references/data-providers.md
  packages/plugins/uniswap-driver/skills/liquidity-planner/references/position-types.md
Due: format, eval-coverage

fix(uniswap-driver): bump version and update docs for hidden LP skill
  docs/plugins/uniswap-driver.md
  docs/skills/index.md
  packages/plugins/uniswap-driver/.claude-plugin/plugin.json
  packages/plugins/uniswap-driver/CLAUDE.md
  packages/plugins/uniswap-driver/README.md
Due: format, eval-coverage

fix(uniswap-driver): remove stale liquidity references from description and docs
  docs/skills/liquidity-planner.md
  packages/plugins/uniswap-driver/.claude-plugin/plugin.json
Due: format, eval-coverage

chore(uniswap-driver): hide liquidity-planner from skill discovery (#72)
  docs/plugins/uniswap-driver.md
  docs/skills/index.md
  docs/skills/liquidity-planner.md
  packages/plugins/uniswap-driver/.claude-plugin/plugin.json
  packages/plugins/uniswap-driver/CLAUDE.md
  packages/plugins/uniswap-driver/README.md
Due: format, eval-coverage

fix(workflows): resolve actionlint findings and harden CI workflows
  .github/workflows/CLAUDE.md
  .github/workflows/ci-check-pr-title.yml
  .github/workflows/ci-pr-checks.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-docs-check.yml
  .github/workflows/generate-docs.yml
  .github/workflows/generate-pr-title-description.yml
  .github/workflows/publish-packages.yml
  .github/workflows/zizmor.yml
  lefthook.yml
  package.json
Due: format

fix(workflows): resolve actionlint findings and harden CI workflows (#73)
  .github/workflows/CLAUDE.md
  .github/workflows/ci-check-pr-title.yml
  .github/workflows/ci-pr-checks.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-docs-check.yml
  .github/workflows/generate-docs.yml
  .github/workflows/generate-pr-title-description.yml
  .github/workflows/publish-packages.yml
  .github/workflows/zizmor.yml
  lefthook.yml
  package.json
Due: format

Revert "chore(uniswap-driver): hide liquidity-planner from skill discovery (#72)"
  docs/plugins/uniswap-driver.md
  docs/skills/index.md
  docs/skills/liquidity-planner.md
  packages/plugins/uniswap-driver/.claude-plugin/plugin.json
  packages/plugins/uniswap-driver/CLAUDE.md
  packages/plugins/uniswap-driver/README.md
Due: format, eval-coverage

fix(uniswap-trading): document UniswapX quote shapes, signing flow, and permitData handling
  packages/plugins/uniswap-trading/.claude-plugin/plugin.json
  packages/plugins/uniswap-trading/skills/swap-integration/SKILL.md
Due: format, eval-coverage

Update packages/plugins/uniswap-driver/.claude-plugin/plugin.json
  packages/plugins/uniswap-driver/.claude-plugin/plugin.json
Due: format, eval-coverage

revert(uniswap-driver): restore liquidity-planner skill discovery (#74)
  docs/plugins/uniswap-driver.md
  docs/skills/index.md
  docs/skills/liquidity-planner.md
  packages/plugins/uniswap-driver/.claude-plugin/plugin.json
  packages/plugins/uniswap-driver/CLAUDE.md
  packages/plugins/uniswap-driver/README.md
Due: format, eval-coverage

chore(docs): remove stale ul-ai-docs.vercel.app references
  README.md
  docs/OVERVIEW.md
Due: format

chore(docs): remove stale ul-ai-docs.vercel.app references (#76)
  README.md
  docs/OVERVIEW.md
Due: format

feat(docs): align VitePress theme with official Uniswap brand
  docs/.vitepress/config.ts
  docs/.vitepress/theme/custom.css
Due: format

fix(uniswap-trading): include PRIORITY in all UniswapX routing checks
  packages/plugins/uniswap-trading/skills/swap-integration/SKILL.md
Due: format, eval-coverage

fix(docs): remove dead link to hidden liquidity-planner skill
  docs/skills/swap-planner.md
Due: format

feat(docs): align VitePress theme with official Uniswap brand (#77)
  docs/.vitepress/config.ts
  docs/.vitepress/theme/custom.css
  docs/skills/swap-planner.md
Due: format

fix(uniswap-trading): document UniswapX quote shapes, signing flow, and permitData handling (#75)
  packages/plugins/uniswap-trading/.claude-plugin/plugin.json
  packages/plugins/uniswap-trading/skills/swap-integration/SKILL.md
Due: format, eval-coverage

fix(cca): pin Python dependencies with upper version bounds
  packages/plugins/uniswap-cca/mcp-server/supply-schedule/requirements.txt
Due: eval-coverage

fix(hooks): replace single-step admin transfer with two-step pattern
  packages/plugins/uniswap-hooks/skills/v4-security-foundations/references/base-hook-template.md
Due: format, eval-coverage

fix: harden two-step admin transfer template
  packages/plugins/uniswap-hooks/skills/v4-security-foundations/references/base-hook-template.md
Due: format, eval-coverage

chore(plugins): bump uniswap-cca to 1.2.3
  packages/plugins/uniswap-cca/.claude-plugin/plugin.json
Due: format, eval-coverage

chore(plugins): bump uniswap-hooks to 1.5.1
  packages/plugins/uniswap-hooks/.claude-plugin/plugin.json
Due: format, eval-coverage

feat(security): add PreToolUse hooks for forge/cast and URL validation
  .claude/hooks/validate-forge-cast.sh
  .claude/hooks/validate-open-url.sh
  .claude/settings.json
  packages/plugins/uniswap-cca/skills/deployer/SKILL.md
  packages/plugins/uniswap-driver/skills/swap-planner/SKILL.md
Due: format, eval-coverage

fix: harden PreToolUse hooks against bypass vectors
  .claude/hooks/validate-forge-cast.sh
  .claude/hooks/validate-open-url.sh
  packages/plugins/uniswap-cca/CLAUDE.md
Due: format, eval-coverage

chore(plugins): bump uniswap-cca to 1.2.3 and uniswap-driver to 0.3.5
  packages/plugins/uniswap-cca/.claude-plugin/plugin.json
  packages/plugins/uniswap-driver/.claude-plugin/plugin.json
Due: format, eval-coverage

feat(security): harden skills with input validation and trust boundaries
  packages/plugins/uniswap-cca/skills/deployer/SKILL.md
  packages/plugins/uniswap-driver/skills/liquidity-planner/SKILL.md
  packages/plugins/uniswap-driver/skills/swap-planner/SKILL.md
  packages/plugins/uniswap-trading/skills/swap-integration/SKILL.md
  packages/plugins/uniswap-viem/skills/viem-integration/SKILL.md
  packages/plugins/uniswap-viem/skills/viem-integration/references/accounts-and-keys.md
Due: format, eval-coverage

fix: address adversarial review findings in skill hardening
  packages/plugins/uniswap-cca/skills/deployer/SKILL.md
  packages/plugins/uniswap-driver/skills/liquidity-planner/SKILL.md
  packages/plugins/uniswap-driver/skills/swap-planner/SKILL.md
  packages/plugins/uniswap-trading/skills/swap-integration/SKILL.md
  packages/plugins/uniswap-viem/skills/viem-integration/references/accounts-and-keys.md
Due: format, eval-coverage

chore(plugins): bump versions for security hardening changes
  packages/plugins/uniswap-cca/.claude-plugin/plugin.json
  packages/plugins/uniswap-driver/.claude-plugin/plugin.json
  packages/plugins/uniswap-trading/.claude-plugin/plugin.json
  packages/plugins/uniswap-viem/.claude-plugin/plugin.json
Due: format, eval-coverage

fix(uniswap-driver): remove extra blank lines in plugin.json
  packages/plugins/uniswap-driver/.claude-plugin/plugin.json
Due: format, eval-coverage

feat(security): add PreToolUse hooks to block private key exposure and URL abuse (#78)
  .claude/hooks/validate-forge-cast.sh
  .claude/hooks/validate-open-url.sh
  .claude/settings.json
  packages/plugins/uniswap-cca/.claude-plugin/plugin.json
  packages/plugins/uniswap-cca/CLAUDE.md
  packages/plugins/uniswap-cca/skills/deployer/SKILL.md
  packages/plugins/uniswap-driver/.claude-plugin/plugin.json
  packages/plugins/uniswap-driver/skills/swap-planner/SKILL.md
Due: format, eval-coverage

chore: migrate hook settings to nested hooks array format
  .claude/settings.json
Due: format

docs: mention two-step admin transfer in plugin docs
  docs/skills/v4-security-foundations.md
  packages/plugins/uniswap-hooks/CLAUDE.md
Due: format, eval-coverage

fix(ci): grant contents:write to review jobs for reusable workflow
  .github/workflows/claude-code-review.yml
Due: none

fix(hooks): migrate hook settings to nested hooks array format (#82)
  .claude/settings.json
Due: format

fix(plugins): bump uniswap-cca and uniswap-driver versions for skill changes
  packages/plugins/uniswap-cca/.claude-plugin/plugin.json
  packages/plugins/uniswap-driver/.claude-plugin/plugin.json
Due: format, eval-coverage

fix(uniswap-hooks): upgrade base hook template to two-step admin transfer (#81)
  docs/skills/v4-security-foundations.md
  packages/plugins/uniswap-hooks/.claude-plugin/plugin.json
  packages/plugins/uniswap-hooks/CLAUDE.md
  packages/plugins/uniswap-hooks/skills/v4-security-foundations/references/base-hook-template.md
Due: format, eval-coverage

fix(security): harden skill input validation and transaction confirmation gates (#79)
  packages/plugins/uniswap-cca/.claude-plugin/plugin.json
  packages/plugins/uniswap-cca/skills/deployer/SKILL.md
  packages/plugins/uniswap-driver/.claude-plugin/plugin.json
  packages/plugins/uniswap-driver/skills/liquidity-planner/SKILL.md
  packages/plugins/uniswap-driver/skills/swap-planner/SKILL.md
  packages/plugins/uniswap-trading/.claude-plugin/plugin.json
  packages/plugins/uniswap-trading/skills/swap-integration/SKILL.md
  packages/plugins/uniswap-viem/.claude-plugin/plugin.json
  packages/plugins/uniswap-viem/skills/viem-integration/SKILL.md
  packages/plugins/uniswap-viem/skills/viem-integration/references/accounts-and-keys.md
Due: format, eval-coverage
