Repository Uniswap/uniswap-ai: changes, and which lefthook commands are due for each by the changed paths.
All: format, eval-coverage

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: false
  commands:
    format:
      glob: '*.{js,ts,tsx,json,md}'
      run: npx nx format:write --uncommitted
      stage_fixed: true
    lint:
      run: npx nx affected --target=lint --base=HEAD~1 --head=HEAD
    eval-coverage:
      glob: 'packages/plugins/**/*'
      run: npx tsx scripts/check-eval-coverage.ts --staged

fix(docs): remove references to non-existent SDK and Utils packages
  docs/architecture/index.md
  docs/architecture/monorepo-structure.md
Due: format

style: fix markdown table formatting in docs
  docs/architecture/index.md
  docs/architecture/monorepo-structure.md
  docs/contributing/index.md
  docs/contributing/pr-workflow.md
  docs/plugins/creating-plugins.md
  docs/plugins/index.md
Due: format

style(hackathon): apply formatting from pre-commit hook
  .github/ISSUE_TEMPLATE/hackathon-submission.yml
  packages/apps/hackathon/index.html
  packages/apps/hackathon/src/components/common/ProjectCard.module.css
  packages/apps/hackathon/src/components/layout/Footer.module.css
  packages/apps/hackathon/src/pages/Dashboard/Dashboard.module.css
  packages/apps/hackathon/src/pages/ProjectDetail/ProjectDetail.module.css
Due: none

feat(hackathon): add subtle page transition animation
  packages/apps/hackathon/src/components/layout/Layout.module.css
  packages/apps/hackathon/src/components/layout/Layout.tsx
Due: format

feat(hackathon): smooth FAQ accordion animation with multi-open support
  packages/apps/hackathon/src/pages/Landing/Landing.module.css
  packages/apps/hackathon/src/pages/Landing/sections/FAQ.tsx
Due: format

feat(hackathon): card hover states, remove prizes section, use Uniswap unicorn icon
  packages/apps/hackathon/public/uniswap-logo.svg
  packages/apps/hackathon/src/lib/config.ts
  packages/apps/hackathon/src/pages/Landing/Landing.module.css
  packages/apps/hackathon/src/pages/Landing/Landing.tsx
  packages/apps/hackathon/src/pages/Landing/sections/Prizes.tsx
Due: format

feat(docs): add dynamic sidebar generation from filesystem (#16)
  .prettierignore
  docs/.vitepress/config.ts
  docs/.vitepress/sidebar.ts
  docs/api/.gitkeep
  docs/api/index.md
  docs/evals/index.md
  docs/evals/running-evals.md
  docs/evals/writing-evals.md
  docs/getting-started/index.md
  docs/getting-started/installation.md
  docs/getting-started/quick-start.md
  docs/skills/aggregator-hook-creator.md
  docs/skills/index.md
  package-lock.json
  package.json
Due: format

feat(hackathon): add hackathon submission issue template
  .github/ISSUE_TEMPLATE/hackathon-submission.yml
Due: none

fix(ci): move nosemgrep to same line for reliable suppression
  .github/workflows/generate-docs.yml
Due: none

docs(ci): document Generate Documentation workflow
  .github/workflows/CLAUDE.md
Due: format

fix(ci): suppress false positive Semgrep finding for npm install
  .github/workflows/generate-docs.yml
Due: none

feat(ci): add workflow for automatic API documentation generation
  .github/workflows/generate-docs.yml
Due: none

fix(ci): address security vulnerabilities in generate-docs workflow
  .github/workflows/generate-docs.yml
Due: none

feat(ci): add workflow for automatic API documentation generation (#17)
  .github/workflows/CLAUDE.md
  .github/workflows/generate-docs.yml
Due: format

feat(hackathon): add llms.txt for AI agent discoverability
  packages/apps/hackathon/.gitignore
  packages/apps/hackathon/public/llms.txt
Due: none

feat(hackathon): comprehensive mobile responsive formatting
  packages/apps/hackathon/src/components/common/CountdownTimer.module.css
  packages/apps/hackathon/src/components/common/ErrorBoundary.module.css
  packages/apps/hackathon/src/components/common/ProjectCard.module.css
  packages/apps/hackathon/src/components/layout/Footer.module.css
  packages/apps/hackathon/src/components/layout/Header.module.css
  packages/apps/hackathon/src/components/layout/Layout.module.css
  packages/apps/hackathon/src/pages/Dashboard/Dashboard.module.css
  packages/apps/hackathon/src/pages/Landing/Landing.module.css
  packages/apps/hackathon/src/pages/ProjectDetail/ProjectDetail.module.css
  packages/apps/hackathon/src/pages/Projects/ProjectsList.module.css
Due: none

feat(docs): add Vale prose linting for documentation quality (#18)
  .github/vale/styles/Vocab/Uniswap/accept.txt
  .github/vale/styles/Vocab/Uniswap/reject.txt
  .github/workflows/CLAUDE.md
  .github/workflows/ci-pr-checks.yml
  .vale.ini
  CLAUDE.md
  README.md
  package.json
Due: format

feat(hackathon): add forum with Supabase backend
  package-lock.json
  packages/apps/hackathon/.env.example
  packages/apps/hackathon/package.json
  packages/apps/hackathon/src/App.tsx
  packages/apps/hackathon/src/components/auth/AuthButton.module.css
  packages/apps/hackathon/src/components/auth/AuthButton.tsx
  packages/apps/hackathon/src/components/auth/AuthProvider.tsx
  packages/apps/hackathon/src/components/forum/CommentForm.module.css
  packages/apps/hackathon/src/components/forum/CommentForm.tsx
  packages/apps/hackathon/src/components/forum/CommentThread.module.css
  packages/apps/hackathon/src/components/forum/CommentThread.tsx
  packages/apps/hackathon/src/components/forum/ForumFilters.module.css
  packages/apps/hackathon/src/components/forum/ForumFilters.tsx
  packages/apps/hackathon/src/components/forum/ForumPostCard.module.css
  packages/apps/hackathon/src/components/forum/ForumPostCard.tsx
  packages/apps/hackathon/src/components/forum/ForumSortBar.module.css
  packages/apps/hackathon/src/components/forum/ForumSortBar.tsx
  packages/apps/hackathon/src/components/forum/NewPostForm.module.css
  packages/apps/hackathon/src/components/forum/NewPostForm.tsx
  packages/apps/hackathon/src/components/forum/UpvoteButton.module.css
  packages/apps/hackathon/src/components/forum/UpvoteButton.tsx
  packages/apps/hackathon/src/components/layout/Header.tsx
  packages/apps/hackathon/src/lib/forum-types.ts
  packages/apps/hackathon/src/lib/forum.ts
  packages/apps/hackathon/src/lib/supabase.ts
  packages/apps/hackathon/src/pages/Forum/ForumHome.module.css
  packages/apps/hackathon/src/pages/Forum/ForumHome.tsx
  packages/apps/hackathon/src/pages/Forum/ForumNewPost.module.css
  packages/apps/hackathon/src/pages/Forum/ForumNewPost.tsx
  packages/apps/hackathon/src/pages/Forum/ForumPost.module.css
  packages/apps/hackathon/src/pages/Forum/ForumPost.tsx
  packages/apps/hackathon/src/router.tsx
  packages/apps/hackathon/supabase/migrations/001_create_forum_tables.sql
Due: format

feat(hackathon): add Userback feedback widget and format CSS modules
  package-lock.json
  packages/apps/hackathon/.env.example
  packages/apps/hackathon/package.json
  packages/apps/hackathon/src/components/auth/AuthButton.module.css
  packages/apps/hackathon/src/components/forum/ForumFilters.module.css
  packages/apps/hackathon/src/components/forum/ForumPostCard.module.css
  packages/apps/hackathon/src/components/forum/ForumSortBar.module.css
  packages/apps/hackathon/src/components/forum/NewPostForm.module.css
  packages/apps/hackathon/src/components/forum/UpvoteButton.module.css
  packages/apps/hackathon/src/main.tsx
Due: format

fix(hackathon): enable Userback widget in production builds
  packages/apps/hackathon/src/main.tsx
Due: format

fix(hackathon): trim submission categories to 4 options
  .github/ISSUE_TEMPLATE/hackathon-submission.yml
  packages/apps/hackathon/src/lib/config.ts
Due: format

feat(hackathon): add Agentation FAB in dev mode
  packages/apps/hackathon/src/components/layout/Layout.module.css
  packages/apps/hackathon/src/components/layout/Layout.tsx
Due: format

fix(hackathon): trim submission categories to 4 options
  .github/ISSUE_TEMPLATE/hackathon-submission.yml
Due: none

refactor(hackathon): replace custom FAB with Agentation component
  package-lock.json
  packages/apps/hackathon/package.json
  packages/apps/hackathon/src/components/layout/Layout.module.css
  packages/apps/hackathon/src/components/layout/Layout.tsx
Due: format

fix(hackathon): fix CTA gradient decoration not visible in footer
  packages/apps/hackathon/src/components/layout/Footer.module.css
  packages/apps/hackathon/src/components/layout/Footer.tsx
Due: format

feat(hackathon): add upvoting and sorting for project submissions
  packages/apps/hackathon/src/components/common/ProjectCard.module.css
  packages/apps/hackathon/src/components/common/ProjectCard.tsx
  packages/apps/hackathon/src/components/common/ProjectSortBar.tsx
  packages/apps/hackathon/src/components/common/ProjectUpvoteButton.tsx
  packages/apps/hackathon/src/lib/project-votes.ts
  packages/apps/hackathon/src/lib/typeGuards.ts
  packages/apps/hackathon/src/lib/types.ts
  packages/apps/hackathon/src/pages/ProjectDetail/ProjectDetail.module.css
  packages/apps/hackathon/src/pages/ProjectDetail/ProjectDetail.tsx
  packages/apps/hackathon/src/pages/Projects/ProjectsList.module.css
  packages/apps/hackathon/src/pages/Projects/ProjectsList.tsx
  packages/apps/hackathon/src/router.tsx
  packages/apps/hackathon/supabase/migrations/002_create_project_votes.sql
Due: format

fix(hackathon): replace card border accents with radial glow decorations
  packages/apps/hackathon/src/pages/Dashboard/Dashboard.module.css
Due: none

docs(documentation): add architecture, contributing, and plugins documentation (#19)
  docs/.vitepress/config.ts
  docs/.vitepress/sidebar.ts
  docs/architecture/index.md
  docs/architecture/monorepo-structure.md
  docs/contributing/index.md
  docs/contributing/pr-workflow.md
  docs/getting-started/index.md
  docs/plugins/creating-plugins.md
  docs/plugins/index.md
Due: format

feat(skills): add skills.sh publishing and CI validation for skill discovery
  .claude-plugin/marketplace.json
  .github/actions/validate-skills/action.yml
  .github/workflows/CLAUDE.md
  .github/workflows/ci-pr-checks.yml
  CLAUDE.md
  README.md
  packages/plugins/uniswap-hooks/.claude-plugin/plugin.json
  packages/plugins/uniswap-hooks/README.md
  packages/plugins/uniswap-hooks/skills/aggregator-hook-creator/aggregator-hook-creator.md
  packages/plugins/uniswap-hooks/skills/v4-security-foundations/v4-security-foundations.md
  skills/aggregator-hook-creator
  skills/v4-security-foundations
Due: format, eval-coverage

feat(hackathon): add agent participation skill and forum API endpoints
  packages/apps/hackathon/.env.example
  packages/apps/hackathon/api/_lib/auth.ts
  packages/apps/hackathon/api/_lib/cors.ts
  packages/apps/hackathon/api/_lib/supabase.ts
  packages/apps/hackathon/api/forum/auth.ts
  packages/apps/hackathon/api/forum/comments.ts
  packages/apps/hackathon/api/forum/posts/[id].ts
  packages/apps/hackathon/api/forum/posts/index.ts
  packages/apps/hackathon/api/forum/vote.ts
  packages/apps/hackathon/package.json
  packages/apps/hackathon/public/llms.txt
  packages/apps/hackathon/public/skill.md
Due: format

fix(hackathon): exclude /api routes from SPA catch-all rewrite
  packages/apps/hackathon/vercel.json
Due: format

feat(hackathon): add agent/human dual-path quick-start in hero section
  packages/apps/hackathon/public/skill.md
  packages/apps/hackathon/src/pages/Landing/Landing.module.css
  packages/apps/hackathon/src/pages/Landing/sections/Hero.tsx
Due: format

feat(plugins): add uniswap-viem plugin
  .claude-plugin/marketplace.json
  package-lock.json
  packages/plugins/uniswap-viem/.claude-plugin/plugin.json
  packages/plugins/uniswap-viem/CLAUDE.md
  packages/plugins/uniswap-viem/README.md
  packages/plugins/uniswap-viem/agents/viem-integration-expert.md
  packages/plugins/uniswap-viem/package.json
  packages/plugins/uniswap-viem/project.json
  packages/plugins/uniswap-viem/skills/viem-integration/SKILL.md
  packages/plugins/uniswap-viem/skills/viem-integration/references/accounts-and-keys.md
  packages/plugins/uniswap-viem/skills/viem-integration/references/clients-and-transports.md
  packages/plugins/uniswap-viem/skills/viem-integration/references/contract-patterns.md
  packages/plugins/uniswap-viem/skills/viem-integration/references/reading-data.md
  packages/plugins/uniswap-viem/skills/viem-integration/references/wagmi-react.md
  packages/plugins/uniswap-viem/skills/viem-integration/references/writing-transactions.md
  packages/plugins/uniswap-viem/skills/viem-integration/viem-integration.md
Due: format, eval-coverage

feat(plugins): add uniswap-trading plugin
  .claude-plugin/marketplace.json
  package-lock.json
  packages/plugins/uniswap-trading/.claude-plugin/plugin.json
  packages/plugins/uniswap-trading/CLAUDE.md
  packages/plugins/uniswap-trading/README.md
  packages/plugins/uniswap-trading/agents/swap-integration-expert.md
  packages/plugins/uniswap-trading/package.json
  packages/plugins/uniswap-trading/project.json
  packages/plugins/uniswap-trading/skills/swap-integration/SKILL.md
  packages/plugins/uniswap-trading/skills/swap-integration/swap-integration.md
Due: format, eval-coverage

fix(hackathon): distinguish SAML SSO errors from rate limit in GitHub API handling
  .gitignore
  packages/apps/hackathon/src/components/common/ErrorBoundary.tsx
  packages/apps/hackathon/src/lib/github.ts
Due: format

chore(evals): add eval scaffolds and update docs for new plugins
  CLAUDE.md
  docs/plans/eco-81-migration-plan.md
  evals/suites/swap-integration/cases/basic.md
  evals/suites/swap-integration/promptfoo.yaml
  evals/suites/swap-integration/rubrics/completeness.txt
  evals/suites/swap-integration/rubrics/correctness.txt
  evals/suites/viem-integration/cases/basic.md
  evals/suites/viem-integration/promptfoo.yaml
  evals/suites/viem-integration/rubrics/completeness.txt
  evals/suites/viem-integration/rubrics/correctness.txt
Due: format

feat(plugins): expand swap-integration with V4 addresses, chains, UniswapX, and viem
  evals/suites/swap-integration/cases/eth-to-token-swap.md
  evals/suites/swap-integration/cases/security-pitfalls.md
  evals/suites/swap-integration/promptfoo.yaml
  evals/suites/viem-integration/cases/wagmi-react.md
  evals/suites/viem-integration/promptfoo.yaml
  packages/plugins/uniswap-trading/CLAUDE.md
  packages/plugins/uniswap-trading/skills/swap-integration/swap-integration.md
Due: format, eval-coverage

fix(hackathon): update hero code snippet to use Trading API fetch example
  apps/hackathon/src/pages/Landing/sections/Hero.tsx
Due: format
