Repository Uniswap/uniswap-ai: changes, and which lefthook commands are due for each by the changed paths.
All: format, eval-coverage

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: false
  commands:
    format:
      glob: '*.{js,ts,tsx,json,md}'
      run: npx nx format:write --uncommitted
      stage_fixed: true
    lint:
      run: npx nx affected --target=lint --base=HEAD~1 --head=HEAD
    eval-coverage:
      glob: 'packages/plugins/**/*'
      run: npx tsx scripts/check-eval-coverage.ts --staged

fix(hackathon): use commandBox style with copy button for developer snippet
  apps/hackathon/src/pages/Landing/Landing.module.css
  apps/hackathon/src/pages/Landing/sections/Hero.tsx
Due: format

feat(hackathon): add syntax highlighting to developer code snippet
  apps/hackathon/package.json
  apps/hackathon/src/pages/Landing/Landing.module.css
  apps/hackathon/src/pages/Landing/sections/Hero.tsx
  apps/hackathon/src/styles/global.css
  package-lock.json
Due: format

fix(hackathon): rename header to Uniswap and update nav link styling
  apps/hackathon/src/components/layout/Header.module.css
  apps/hackathon/src/components/layout/Header.tsx
Due: format

fix(hackathon): replace FAQ plus/x icons with chevrons
  apps/hackathon/src/pages/Landing/Landing.module.css
  apps/hackathon/src/pages/Landing/sections/FAQ.tsx
Due: format

fix(hackathon): unify dashboard metric cards to white text with pink glow
  apps/hackathon/src/pages/Dashboard/Dashboard.module.css
  apps/hackathon/src/pages/Dashboard/Dashboard.tsx
Due: format

fix(hackathon): update forum styling per design feedback
  apps/hackathon/src/components/forum/CommentForm.module.css
  apps/hackathon/src/components/forum/ForumFilters.module.css
  apps/hackathon/src/components/forum/UpvoteButton.module.css
  apps/hackathon/src/pages/Forum/ForumHome.module.css
  apps/hackathon/src/pages/Forum/ForumPost.module.css
Due: none

fix(hackathon): update project detail styling per design feedback
  apps/hackathon/src/components/common/Tag.module.css
  apps/hackathon/src/pages/ProjectDetail/ProjectDetail.module.css
Due: none

fix(hackathon): standardize How to Participate cards to surface2
  apps/hackathon/src/pages/Landing/Landing.module.css
  apps/hackathon/src/pages/Landing/sections/HowToParticipate.tsx
Due: format

fix(hackathon): update accent color to #FF37C7 and add Basel Grotesk font
  apps/hackathon/src/components/layout/Footer.module.css
  apps/hackathon/src/pages/Dashboard/Dashboard.module.css
  apps/hackathon/src/styles/tokens.css
Due: none

fix(hackathon): use Spore accent2 bg and accent1 text for countdown widget
  apps/hackathon/src/components/common/CountdownTimer.module.css
  apps/hackathon/src/styles/tokens.css
Due: none

fix(hackathon): replace emojis with universe repo SVG icons
  apps/hackathon/src/pages/Landing/sections/About.tsx
Due: format

docs(hackathon): update feedback tracker with all completed items
  apps/hackathon/FEEDBACK-TRACKER.md
Due: format

fix(hackathon): streamline footer CTA — button right, no gradient, shorter
  apps/hackathon/src/components/layout/Footer.module.css
  apps/hackathon/src/components/layout/Footer.tsx
Due: format

docs(hackathon): update tracker — item #21 complete, 20/21 done
  apps/hackathon/FEEDBACK-TRACKER.md
Due: format

fix(hackathon): vertically center and right-align category tag in title row
  apps/hackathon/src/pages/ProjectDetail/ProjectDetail.module.css
Due: none

fix(hackathon): use white text selection highlight in forum search input
  apps/hackathon/src/pages/Forum/ForumHome.module.css
Due: none

fix(hackathon): remove double divider on project detail page
  apps/hackathon/src/pages/ProjectDetail/ProjectDetail.module.css
Due: none

fix(hackathon): standardize pill sizes, button radii, and gradient clipping
  apps/hackathon/src/pages/Dashboard/Dashboard.module.css
  apps/hackathon/src/pages/Forum/ForumHome.module.css
  apps/hackathon/src/pages/ProjectDetail/ProjectDetail.module.css
Due: none

fix(hackathon): UI polish — focus styles, upvote border, and forum caching
  apps/hackathon/package.json
  apps/hackathon/src/App.tsx
  apps/hackathon/src/components/forum/CommentForm.module.css
  apps/hackathon/src/components/forum/NewPostForm.module.css
  apps/hackathon/src/components/forum/UpvoteButton.module.css
  apps/hackathon/src/pages/Forum/ForumHome.module.css
  apps/hackathon/src/pages/Forum/ForumHome.tsx
  package-lock.json
Due: format

feat(hackathon): add AI Q&A chatbot and centralize input focus styles
  apps/hackathon/api/chat.ts
  apps/hackathon/package.json
  apps/hackathon/src/components/chat/ChatWidget.module.css
  apps/hackathon/src/components/chat/ChatWidget.tsx
  apps/hackathon/src/components/forum/CommentForm.module.css
  apps/hackathon/src/components/forum/NewPostForm.module.css
  apps/hackathon/src/components/layout/Layout.tsx
  apps/hackathon/src/lib/chatbot-prompt.ts
  apps/hackathon/src/pages/Forum/ForumHome.module.css
  apps/hackathon/src/styles/global.css
  apps/hackathon/vite.config.ts
  package-lock.json
Due: format

feat(hackathon): update landing page content from marketing copy
  .github/ISSUE_TEMPLATE/hackathon-submission.yml
  apps/hackathon/FEEDBACK-TRACKER.md
  apps/hackathon/public/llms.txt
  apps/hackathon/public/skill.md
  apps/hackathon/src/components/layout/Footer.tsx
  apps/hackathon/src/lib/config.ts
  apps/hackathon/src/lib/parseSubmission.ts
  apps/hackathon/src/pages/Landing/Landing.module.css
  apps/hackathon/src/pages/Landing/Landing.tsx
  apps/hackathon/src/pages/Landing/sections/About.tsx
  apps/hackathon/src/pages/Landing/sections/Hero.tsx
  apps/hackathon/src/pages/Landing/sections/Prizes.tsx
Due: format

fix(hackathon): persist upvote state across forum page loads
  apps/hackathon/src/components/chat/ChatWidget.module.css
  apps/hackathon/src/lib/forum.ts
Due: format

feat(plugins): migrate uniswap-builder to uniswap-viem and uniswap-trading plugins
  .claude-plugin/marketplace.json
  CLAUDE.md
  docs/plans/eco-81-migration-plan.md
  evals/suites/swap-integration/cases/basic.md
  evals/suites/swap-integration/cases/eth-to-token-swap.md
  evals/suites/swap-integration/cases/security-pitfalls.md
  evals/suites/swap-integration/promptfoo.yaml
  evals/suites/swap-integration/rubrics/completeness.txt
  evals/suites/swap-integration/rubrics/correctness.txt
  evals/suites/viem-integration/cases/basic.md
  evals/suites/viem-integration/cases/wagmi-react.md
  evals/suites/viem-integration/promptfoo.yaml
  evals/suites/viem-integration/rubrics/completeness.txt
  evals/suites/viem-integration/rubrics/correctness.txt
  package-lock.json
  packages/plugins/uniswap-trading/.claude-plugin/plugin.json
  packages/plugins/uniswap-trading/CLAUDE.md
  packages/plugins/uniswap-trading/README.md
  packages/plugins/uniswap-trading/agents/swap-integration-expert.md
  packages/plugins/uniswap-trading/package.json
  packages/plugins/uniswap-trading/project.json
  packages/plugins/uniswap-trading/skills/swap-integration/SKILL.md
  packages/plugins/uniswap-trading/skills/swap-integration/swap-integration.md
  packages/plugins/uniswap-viem/.claude-plugin/plugin.json
  packages/plugins/uniswap-viem/CLAUDE.md
  packages/plugins/uniswap-viem/README.md
  packages/plugins/uniswap-viem/agents/viem-integration-expert.md
  packages/plugins/uniswap-viem/package.json
  packages/plugins/uniswap-viem/project.json
  packages/plugins/uniswap-viem/skills/viem-integration/SKILL.md
  packages/plugins/uniswap-viem/skills/viem-integration/references/accounts-and-keys.md
  packages/plugins/uniswap-viem/skills/viem-integration/references/clients-and-transports.md
  packages/plugins/uniswap-viem/skills/viem-integration/references/contract-patterns.md
  packages/plugins/uniswap-viem/skills/viem-integration/references/reading-data.md
  packages/plugins/uniswap-viem/skills/viem-integration/references/wagmi-react.md
  packages/plugins/uniswap-viem/skills/viem-integration/references/writing-transactions.md
  packages/plugins/uniswap-viem/skills/viem-integration/viem-integration.md
Due: format, eval-coverage

fix(ci): handle grep no-match exits in skills validation scripts
  .github/actions/check-eval-coverage/action.yml
  .github/actions/validate-skills/action.yml
Due: none

fix(hackathon): update unicorn logo to Spore accent pink (#FF37C7)
  apps/hackathon/public/uniswap-logo.svg
Due: none

fix(hackathon): use 4-column grid for prizes section
  apps/hackathon/src/pages/Landing/Landing.module.css
Due: none

fix(hackathon): add color-matching fills to Guiding Principles icons
  apps/hackathon/src/pages/Landing/sections/About.tsx
Due: format

fix(hackathon): update favicon to match app.uniswap.org
  apps/hackathon/index.html
  apps/hackathon/public/favicon.ico
  apps/hackathon/public/favicon.png
Due: none

fix(hackathon): reduce grid column gaps to 16px
  apps/hackathon/src/pages/Landing/Landing.module.css
Due: none

fix(skills): address PR review — frontmatter extraction, validation, and docs
  .github/actions/validate-skills/action.yml
  CLAUDE.md
Due: format

fix(hackathon): improve forum post skeleton spacing and transitions
  apps/hackathon/src/components/common/Skeleton.module.css
  apps/hackathon/src/pages/Forum/ForumPost.module.css
  apps/hackathon/src/pages/Forum/ForumPost.tsx
Due: format

feat(skills): add skills.sh publishing and CI validation for skill discovery (#22)
  .claude-plugin/marketplace.json
  .github/actions/check-eval-coverage/action.yml
  .github/actions/validate-skills/action.yml
  .github/workflows/CLAUDE.md
  .github/workflows/ci-pr-checks.yml
  CLAUDE.md
  README.md
  packages/plugins/uniswap-hooks/.claude-plugin/plugin.json
  packages/plugins/uniswap-hooks/README.md
  packages/plugins/uniswap-hooks/skills/aggregator-hook-creator/aggregator-hook-creator.md
  packages/plugins/uniswap-hooks/skills/v4-security-foundations/v4-security-foundations.md
  skills/aggregator-hook-creator
  skills/v4-security-foundations
Due: format, eval-coverage

fix(uniswap-driver): address PR review feedback
  packages/plugins/uniswap-driver/CLAUDE.md
  packages/plugins/uniswap-driver/skills/liquidity-planner/SKILL.md
  packages/plugins/uniswap-driver/skills/swap-planner/SKILL.md
Due: format, eval-coverage

fix(uniswap-cca): address PR review feedback
  packages/plugins/uniswap-cca/AGENTS.md
  packages/plugins/uniswap-cca/mcp-server/README.md
  packages/plugins/uniswap-cca/mcp-server/supply-schedule/server.py
  packages/plugins/uniswap-cca/package.json
  packages/plugins/uniswap-cca/project.json
  packages/plugins/uniswap-cca/skills/configurator/configurator.md
Due: format, eval-coverage

feat(uniswap-trading): incorporate hackathon feedback from ai-toolkit#381
  evals/suites/swap-integration/cases/basic.md
  evals/suites/swap-integration/cases/eth-to-token-swap.md
  evals/suites/swap-integration/cases/smart-account-swap.md
  evals/suites/swap-integration/promptfoo.yaml
  packages/plugins/uniswap-trading/.claude-plugin/plugin.json
  packages/plugins/uniswap-trading/CLAUDE.md
  packages/plugins/uniswap-trading/README.md
  packages/plugins/uniswap-trading/agents/swap-integration-expert.md
  packages/plugins/uniswap-trading/skills/swap-integration/references/advanced-patterns.md
  packages/plugins/uniswap-trading/skills/swap-integration/swap-integration.md
Due: format, eval-coverage

fix(uniswap-cca): improve code clarity and setup robustness
  packages/plugins/uniswap-cca/mcp-server/supply-schedule/server.py
  packages/plugins/uniswap-cca/mcp-server/supply-schedule/setup.sh
  packages/plugins/uniswap-cca/skills/configurator/configurator.md
Due: format, eval-coverage

fix(uniswap-driver): add missing skills symlinks, marketplace entry, and frontmatter metadata
  .claude-plugin/marketplace.json
  packages/plugins/uniswap-driver/skills/liquidity-planner/SKILL.md
  packages/plugins/uniswap-driver/skills/swap-planner/SKILL.md
  skills/liquidity-planner
  skills/swap-planner
Due: format, eval-coverage

fix(uniswap-cca): use cwd option instead of cd in test target
  packages/plugins/uniswap-cca/project.json
Due: format, eval-coverage

fix(uniswap-cca): clarify Q96 constant and MCP tool call format
  packages/plugins/uniswap-cca/skills/configurator/configurator.md
Due: format, eval-coverage

fix(uniswap-cca): sync package-lock.json with version bump
  package-lock.json
Due: format
