Repository Uniswap/uniswap-ai: changes, and which lefthook commands are due for each by the changed paths.
All: format, eval-coverage

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: false
  commands:
    format:
      glob: '*.{js,ts,tsx,json,md}'
      run: npx nx format:write --uncommitted
      stage_fixed: true
    lint:
      run: npx nx affected --target=lint --base=HEAD~1 --head=HEAD
    eval-coverage:
      glob: 'packages/plugins/**/*'
      run: npx tsx scripts/check-eval-coverage.ts --staged

fix(docs): update Unichain chain IDs in VitePress documentation
  docs/plugins/uniswap-cca.md
  docs/skills/configurator.md
Due: format

fix(cca): update README.md with correct Unichain chain IDs
  packages/plugins/uniswap-cca/README.md
Due: format, eval-coverage

fix(configurator): correct Unichain chain IDs and add runtime fallback
  packages/plugins/uniswap-cca/.claude-plugin/plugin.json
  packages/plugins/uniswap-cca/CLAUDE.md
  packages/plugins/uniswap-cca/skills/configurator/SKILL.md
Due: format, eval-coverage

fix(cca): bump plugin version to 1.2.1
  packages/plugins/uniswap-cca/.claude-plugin/plugin.json
Due: format, eval-coverage

fix(deployer): add ABI encoding guide, token approval, and cleanup
  packages/plugins/uniswap-cca/skills/deployer/SKILL.md
Due: format, eval-coverage

fix(viem-integration): correct version to patch, remove duplicate section
  packages/plugins/uniswap-viem/.claude-plugin/plugin.json
  packages/plugins/uniswap-viem/skills/viem-integration/references/reading-data.md
Due: format, eval-coverage

fix(uniswap-driver): add DexScreener/DefiLlama provider ID mapping to chains.md
  packages/plugins/uniswap-driver/references/chains.md
  packages/plugins/uniswap-driver/skills/liquidity-planner/references/position-types.md
Due: format, eval-coverage

fix(swap-planner): tone down trending claims and add DexScreener coverage notes
  packages/plugins/uniswap-driver/skills/swap-planner/SKILL.md
  packages/plugins/uniswap-driver/skills/swap-planner/references/data-providers.md
Due: format, eval-coverage

fix(uniswap-driver): bump plugin version to 0.3.2
  packages/plugins/uniswap-driver/.claude-plugin/plugin.json
Due: format, eval-coverage

fix(viem-integration): add ENS resolution, event monitoring, and Uniswap ABIs
  packages/plugins/uniswap-viem/.claude-plugin/plugin.json
  packages/plugins/uniswap-viem/skills/viem-integration/references/reading-data.md
Due: format, eval-coverage

fix(docs): update swap-planner VitePress docs with coverage notes
  docs/skills/swap-planner.md
Due: format

fix(swap-integration): fix UNIVERSAL_ROUTER_ADDRESS signature, signer bug, add pool data example
  packages/plugins/uniswap-trading/.claude-plugin/plugin.json
  packages/plugins/uniswap-trading/skills/swap-integration/SKILL.md
Due: format, eval-coverage

Copy Fixes Batch 01
  .github/ISSUE_TEMPLATE/hackathon-submission.yml
  .github/vale/styles/Vocab/Uniswap/accept.txt
  CLAUDE.md
  LICENSE
  README.md
  docs/public/skill.md
  docs/skills/aggregator-hook-creator.md
  docs/skills/index.md
  docs/skills/liquidity-planner.md
  docs/skills/v4-security-foundations.md
  repo-docs/OVERVIEW.md
  repo-docs/hackathon/RULES.md
  repo-docs/hackathon/SKILL.md
Due: format

lowercase v4 references per marketing standards
  README.md
  docs/public/skill.md
  docs/skills/aggregator-hook-creator.md
  packages/plugins/uniswap-driver/CLAUDE.md
  packages/plugins/uniswap-driver/skills/liquidity-planner/SKILL.md
  packages/plugins/uniswap-driver/skills/liquidity-planner/references/position-types.md
  packages/plugins/uniswap-hooks/CLAUDE.md
  packages/plugins/uniswap-hooks/README.md
  packages/plugins/uniswap-hooks/package.json
  packages/plugins/uniswap-hooks/skills/aggregator-hook-creator/SKILL.md
  packages/plugins/uniswap-hooks/skills/aggregator-hook-creator/references/implementations.md
  packages/plugins/uniswap-hooks/skills/aggregator-hook-creator/references/research-notes.md
  packages/plugins/uniswap-hooks/skills/v4-security-foundations/SKILL.md
  packages/plugins/uniswap-hooks/skills/v4-security-foundations/references/audit-checklist.md
  packages/plugins/uniswap-hooks/skills/v4-security-foundations/references/base-hook-template.md
  packages/plugins/uniswap-hooks/skills/v4-security-foundations/references/vulnerabilities-catalog.md
  packages/plugins/uniswap-trading/CLAUDE.md
  packages/plugins/uniswap-trading/agents/swap-integration-expert.md
  packages/plugins/uniswap-trading/skills/swap-integration/SKILL.md
Due: format, eval-coverage

fix(plugins): bump versions, fix formatting, and standardize v4 casing
  README.md
  docs/public/skill.md
  packages/plugins/uniswap-driver/.claude-plugin/plugin.json
  packages/plugins/uniswap-hooks/.claude-plugin/plugin.json
  packages/plugins/uniswap-trading/.claude-plugin/plugin.json
  repo-docs/OVERVIEW.md
  repo-docs/hackathon/RULES.md
  repo-docs/hackathon/SKILL.md
Due: format, eval-coverage

docs(repo): lowercase protocol versions and update hackathon copy (#54)
  .github/ISSUE_TEMPLATE/hackathon-submission.yml
  .github/vale/styles/Vocab/Uniswap/accept.txt
  CLAUDE.md
  LICENSE
  README.md
  docs/public/skill.md
  docs/skills/aggregator-hook-creator.md
  docs/skills/index.md
  docs/skills/liquidity-planner.md
  docs/skills/v4-security-foundations.md
  packages/plugins/uniswap-driver/.claude-plugin/plugin.json
  packages/plugins/uniswap-driver/CLAUDE.md
  packages/plugins/uniswap-driver/skills/liquidity-planner/SKILL.md
  packages/plugins/uniswap-driver/skills/liquidity-planner/references/position-types.md
  packages/plugins/uniswap-hooks/.claude-plugin/plugin.json
  packages/plugins/uniswap-hooks/CLAUDE.md
  packages/plugins/uniswap-hooks/README.md
  packages/plugins/uniswap-hooks/package.json
  packages/plugins/uniswap-hooks/skills/aggregator-hook-creator/SKILL.md
  packages/plugins/uniswap-hooks/skills/aggregator-hook-creator/references/implementations.md
  packages/plugins/uniswap-hooks/skills/aggregator-hook-creator/references/research-notes.md
  packages/plugins/uniswap-hooks/skills/v4-security-foundations/SKILL.md
  packages/plugins/uniswap-hooks/skills/v4-security-foundations/references/audit-checklist.md
  packages/plugins/uniswap-hooks/skills/v4-security-foundations/references/base-hook-template.md
  packages/plugins/uniswap-hooks/skills/v4-security-foundations/references/vulnerabilities-catalog.md
  packages/plugins/uniswap-trading/.claude-plugin/plugin.json
  packages/plugins/uniswap-trading/CLAUDE.md
  packages/plugins/uniswap-trading/agents/swap-integration-expert.md
  packages/plugins/uniswap-trading/skills/swap-integration/SKILL.md
  repo-docs/OVERVIEW.md
  repo-docs/hackathon/RULES.md
  repo-docs/hackathon/SKILL.md
Due: format, eval-coverage

fix(cca): correct Unichain chain IDs and add runtime compatibility note (#45)
  docs/plugins/uniswap-cca.md
  docs/skills/configurator.md
  packages/plugins/uniswap-cca/.claude-plugin/plugin.json
  packages/plugins/uniswap-cca/CLAUDE.md
  packages/plugins/uniswap-cca/README.md
  packages/plugins/uniswap-cca/skills/configurator/SKILL.md
Due: format, eval-coverage

docs(hackathon): update RULES.md with finalized hackathon details
  repo-docs/hackathon/RULES.md
Due: format

fix(deployer): add ABI encoding guide, token approval, and cleanup (#46)
  packages/plugins/uniswap-cca/.claude-plugin/plugin.json
  packages/plugins/uniswap-cca/skills/deployer/SKILL.md
Due: format, eval-coverage

fix(ci): add actions:read permission to code review workflow
  .github/workflows/claude-code-review.yml
Due: none

fix(viem-integration): add ENS resolution and common Uniswap V3 ABIs (#47)
  packages/plugins/uniswap-viem/.claude-plugin/plugin.json
  packages/plugins/uniswap-viem/skills/viem-integration/references/reading-data.md
Due: format, eval-coverage

fix(ci): handle fork PRs with fallback defaults and skip conditions
  .github/workflows/ci-pr-checks.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-docs-check.yml
  .github/workflows/evals.yml
  .github/workflows/generate-docs.yml
  .github/workflows/generate-pr-title-description.yml
Due: none

fix(swap-integration): fix UNIVERSAL_ROUTER_ADDRESS signature, signer bug, add pool data example
  packages/plugins/uniswap-trading/skills/swap-integration/SKILL.md
Due: format, eval-coverage

ci: update zizmor scan to disable advanced security
  .github/workflows/zizmor.yml
Due: none

fix(uniswap-driver): bump plugin version 0.3.2 → 0.3.3
  packages/plugins/uniswap-driver/.claude-plugin/plugin.json
Due: format, eval-coverage
