Repository Uniswap/uniswap-ai: changes, and which lefthook commands are due for each by the changed paths.
All: format, eval-coverage

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: false
  commands:
    format:
      glob: '*.{js,ts,tsx,json,md}'
      run: npx nx format:write --uncommitted
      stage_fixed: true
    lint:
      run: npx nx affected --target=lint --base=HEAD~1 --head=HEAD
    eval-coverage:
      glob: 'packages/plugins/**/*'
      run: npx tsx scripts/check-eval-coverage.ts --staged

docs(uniswap-driver): document skill discovery symlink pattern
  packages/plugins/uniswap-driver/CLAUDE.md
Due: format, eval-coverage

fix(ci): support multi-plugin skill validation and add eval suites
  .github/actions/validate-skills/action.yml
  evals/suites/liquidity-planner/cases/basic-v3-position.md
  evals/suites/liquidity-planner/cases/full-range-v2.md
  evals/suites/liquidity-planner/cases/v4-position.md
  evals/suites/liquidity-planner/promptfoo.yaml
  evals/suites/liquidity-planner/rubrics/lp-completeness.txt
  evals/suites/liquidity-planner/rubrics/position-correctness.txt
  evals/suites/swap-planner/cases/basic-swap.md
  evals/suites/swap-planner/cases/cross-chain-swap.md
  evals/suites/swap-planner/cases/token-discovery.md
  evals/suites/swap-planner/promptfoo.yaml
  evals/suites/swap-planner/rubrics/discovery-completeness.txt
  evals/suites/swap-planner/rubrics/swap-correctness.txt
Due: format

fix(evals): relax assertions for swap-planner and liquidity-planner suites
  evals/suites/liquidity-planner/promptfoo.yaml
  evals/suites/swap-planner/promptfoo.yaml
Due: none

fix(uniswap-cca): address PR review comments and fix CI failures
  evals/suites/configurator/cases/basic-configuration.md
  evals/suites/configurator/promptfoo.yaml
  evals/suites/configurator/rubrics/completeness.txt
  evals/suites/configurator/rubrics/correctness.txt
  evals/suites/deployer/cases/basic-deployment.md
  evals/suites/deployer/promptfoo.yaml
  evals/suites/deployer/rubrics/completeness.txt
  evals/suites/deployer/rubrics/correctness.txt
  packages/plugins/uniswap-cca/mcp-server/supply-schedule/logic.py
  packages/plugins/uniswap-cca/mcp-server/supply-schedule/server.py
  packages/plugins/uniswap-cca/mcp-server/supply-schedule/test_logic.py
  packages/plugins/uniswap-cca/skills/configurator/configurator.md
  packages/plugins/uniswap-cca/skills/deployer/deployer.md
Due: format, eval-coverage

fix(evals): inject SKILL.md context into eval prompts via template
  evals/suites/liquidity-planner/prompt-wrapper.txt
  evals/suites/liquidity-planner/promptfoo.yaml
  evals/suites/swap-planner/prompt-wrapper.txt
  evals/suites/swap-planner/promptfoo.yaml
Due: none

feat(uniswap-driver): add swap and liquidity planning plugin with deep links (#9)
  .claude-plugin/marketplace.json
  .github/actions/validate-skills/action.yml
  .gitignore
  evals/suites/liquidity-planner/cases/basic-v3-position.md
  evals/suites/liquidity-planner/cases/full-range-v2.md
  evals/suites/liquidity-planner/cases/v4-position.md
  evals/suites/liquidity-planner/prompt-wrapper.txt
  evals/suites/liquidity-planner/promptfoo.yaml
  evals/suites/liquidity-planner/rubrics/lp-completeness.txt
  evals/suites/liquidity-planner/rubrics/position-correctness.txt
  evals/suites/swap-planner/cases/basic-swap.md
  evals/suites/swap-planner/cases/cross-chain-swap.md
  evals/suites/swap-planner/cases/token-discovery.md
  evals/suites/swap-planner/prompt-wrapper.txt
  evals/suites/swap-planner/promptfoo.yaml
  evals/suites/swap-planner/rubrics/discovery-completeness.txt
  evals/suites/swap-planner/rubrics/swap-correctness.txt
  package-lock.json
  packages/plugins/uniswap-driver/.claude-plugin/plugin.json
  packages/plugins/uniswap-driver/AGENTS.md
  packages/plugins/uniswap-driver/CLAUDE.md
  packages/plugins/uniswap-driver/README.md
  packages/plugins/uniswap-driver/package.json
  packages/plugins/uniswap-driver/project.json
  packages/plugins/uniswap-driver/references/chains.md
  packages/plugins/uniswap-driver/skills/liquidity-planner/SKILL.md
  packages/plugins/uniswap-driver/skills/liquidity-planner/references/data-providers.md
  packages/plugins/uniswap-driver/skills/liquidity-planner/references/position-types.md
  packages/plugins/uniswap-driver/skills/swap-planner/SKILL.md
  packages/plugins/uniswap-driver/skills/swap-planner/references/data-providers.md
  skills/liquidity-planner
  skills/swap-planner
Due: format, eval-coverage

fix(evals): inject skill context into v4-security-foundations eval suite
  evals/suites/v4-security-foundations/prompt-wrapper.txt
  evals/suites/v4-security-foundations/promptfoo.yaml
Due: none

fix(skills): add root symlinks and frontmatter for new plugin skills
  .claude-plugin/marketplace.json
  packages/plugins/uniswap-trading/skills/swap-integration/swap-integration.md
  packages/plugins/uniswap-viem/skills/viem-integration/viem-integration.md
  skills/swap-integration
  skills/viem-integration
Due: format, eval-coverage

docs(evals): document prompt template architecture and missing test cases
  evals/README.md
  evals/suites/v4-security-foundations/README.md
Due: format

fix(evals): inject skill context into v4-security-foundations eval suite (#28)
  evals/README.md
  evals/suites/v4-security-foundations/README.md
  evals/suites/v4-security-foundations/prompt-wrapper.txt
  evals/suites/v4-security-foundations/promptfoo.yaml
Due: format

feat(hackathon): add GitHub Pages hackathon site, skill.md, and KYC fields
  .github/ISSUE_TEMPLATE/hackathon-submission.yml
  docs/public/hackathon/favicon.png
  docs/public/hackathon/index.html
  docs/public/skill.md
Due: format

style(hackathon): format index.html with prettier
  docs/public/hackathon/index.html
Due: none

fix(hackathon): replace details elements with JS accordion for reliable animations
  docs/public/hackathon/index.html
Due: none

feat(hackathon): add GitHub Pages hackathon site, skill.md, and KYC fields (#29)
  .github/ISSUE_TEMPLATE/hackathon-submission.yml
  docs/public/hackathon/favicon.png
  docs/public/hackathon/index.html
  docs/public/skill.md
Due: format

feat(uniswap-cca): add CCA plugin for auction configuration and deployment (#8)
  .claude-plugin/marketplace.json
  .gitignore
  CLAUDE.md
  README.md
  evals/suites/configurator/cases/basic-configuration.md
  evals/suites/configurator/promptfoo.yaml
  evals/suites/configurator/rubrics/completeness.txt
  evals/suites/configurator/rubrics/correctness.txt
  evals/suites/deployer/cases/basic-deployment.md
  evals/suites/deployer/promptfoo.yaml
  evals/suites/deployer/rubrics/completeness.txt
  evals/suites/deployer/rubrics/correctness.txt
  package-lock.json
  packages/plugins/uniswap-cca/.claude-plugin/plugin.json
  packages/plugins/uniswap-cca/.mcp.json
  packages/plugins/uniswap-cca/AGENTS.md
  packages/plugins/uniswap-cca/CLAUDE.md
  packages/plugins/uniswap-cca/README.md
  packages/plugins/uniswap-cca/mcp-server/README.md
  packages/plugins/uniswap-cca/mcp-server/supply-schedule/README.md
  packages/plugins/uniswap-cca/mcp-server/supply-schedule/__init__.py
  packages/plugins/uniswap-cca/mcp-server/supply-schedule/logic.py
  packages/plugins/uniswap-cca/mcp-server/supply-schedule/requirements.txt
  packages/plugins/uniswap-cca/mcp-server/supply-schedule/server.py
  packages/plugins/uniswap-cca/mcp-server/supply-schedule/setup.sh
  packages/plugins/uniswap-cca/mcp-server/supply-schedule/test_logic.py
  packages/plugins/uniswap-cca/package.json
  packages/plugins/uniswap-cca/project.json
  packages/plugins/uniswap-cca/skills/configurator/SKILL.md
  packages/plugins/uniswap-cca/skills/configurator/configurator.md
  packages/plugins/uniswap-cca/skills/deployer/SKILL.md
  packages/plugins/uniswap-cca/skills/deployer/deployer.md
Due: format, eval-coverage

chore: gitignore .claude-output directory
  .gitignore
Due: none

refactor(plugins): remove skills symlink workaround
  .claude-plugin/marketplace.json
  .github/actions/validate-skills/action.yml
  .github/workflows/CLAUDE.md
  .github/workflows/ci-pr-checks.yml
  CLAUDE.md
  README.md
  packages/plugins/uniswap-cca/.claude-plugin/plugin.json
  packages/plugins/uniswap-cca/CLAUDE.md
  packages/plugins/uniswap-cca/skills/configurator/SKILL.md
  packages/plugins/uniswap-cca/skills/configurator/configurator.md
  packages/plugins/uniswap-cca/skills/deployer/SKILL.md
  packages/plugins/uniswap-cca/skills/deployer/deployer.md
  packages/plugins/uniswap-driver/CLAUDE.md
  packages/plugins/uniswap-hooks/.claude-plugin/plugin.json
  packages/plugins/uniswap-hooks/CLAUDE.md
  packages/plugins/uniswap-hooks/skills/aggregator-hook-creator/SKILL.md
  packages/plugins/uniswap-hooks/skills/aggregator-hook-creator/aggregator-hook-creator.md
  packages/plugins/uniswap-hooks/skills/v4-security-foundations/SKILL.md
  packages/plugins/uniswap-hooks/skills/v4-security-foundations/v4-security-foundations.md
  packages/plugins/uniswap-trading/.claude-plugin/plugin.json
  packages/plugins/uniswap-trading/CLAUDE.md
  packages/plugins/uniswap-trading/skills/swap-integration/SKILL.md
  packages/plugins/uniswap-trading/skills/swap-integration/swap-integration.md
  packages/plugins/uniswap-viem/.claude-plugin/plugin.json
  packages/plugins/uniswap-viem/CLAUDE.md
  packages/plugins/uniswap-viem/skills/viem-integration/SKILL.md
  packages/plugins/uniswap-viem/skills/viem-integration/viem-integration.md
  skills/aggregator-hook-creator
  skills/liquidity-planner
  skills/swap-integration
  skills/swap-planner
  skills/v4-security-foundations
  skills/viem-integration
Due: format, eval-coverage

chore(plugins): bump versions for structural skill file changes
  packages/plugins/uniswap-cca/.claude-plugin/plugin.json
  packages/plugins/uniswap-hooks/.claude-plugin/plugin.json
  packages/plugins/uniswap-trading/.claude-plugin/plugin.json
  packages/plugins/uniswap-viem/.claude-plugin/plugin.json
Due: format, eval-coverage

refactor(plugins): remove skills symlink workaround (#30)
  .claude-plugin/marketplace.json
  .github/actions/validate-skills/action.yml
  .github/workflows/CLAUDE.md
  .github/workflows/ci-pr-checks.yml
  CLAUDE.md
  README.md
  packages/plugins/uniswap-cca/.claude-plugin/plugin.json
  packages/plugins/uniswap-cca/CLAUDE.md
  packages/plugins/uniswap-cca/skills/configurator/SKILL.md
  packages/plugins/uniswap-cca/skills/configurator/configurator.md
  packages/plugins/uniswap-cca/skills/deployer/SKILL.md
  packages/plugins/uniswap-cca/skills/deployer/deployer.md
  packages/plugins/uniswap-driver/CLAUDE.md
  packages/plugins/uniswap-hooks/.claude-plugin/plugin.json
  packages/plugins/uniswap-hooks/CLAUDE.md
  packages/plugins/uniswap-hooks/skills/aggregator-hook-creator/SKILL.md
  packages/plugins/uniswap-hooks/skills/aggregator-hook-creator/aggregator-hook-creator.md
  packages/plugins/uniswap-hooks/skills/v4-security-foundations/SKILL.md
  packages/plugins/uniswap-hooks/skills/v4-security-foundations/v4-security-foundations.md
  packages/plugins/uniswap-trading/.claude-plugin/plugin.json
  packages/plugins/uniswap-trading/CLAUDE.md
  packages/plugins/uniswap-trading/skills/swap-integration/SKILL.md
  packages/plugins/uniswap-trading/skills/swap-integration/swap-integration.md
  packages/plugins/uniswap-viem/.claude-plugin/plugin.json
  packages/plugins/uniswap-viem/CLAUDE.md
  packages/plugins/uniswap-viem/skills/viem-integration/SKILL.md
  packages/plugins/uniswap-viem/skills/viem-integration/viem-integration.md
  skills/aggregator-hook-creator
  skills/liquidity-planner
  skills/swap-integration
  skills/swap-planner
  skills/v4-security-foundations
  skills/viem-integration
Due: format, eval-coverage

docs(plugins): add VitePress documentation for all plugins and skills with CI enforcement
  .claude/rules/documentation.md
  .github/actions/validate-docs/action.yml
  .github/workflows/CLAUDE.md
  .github/workflows/ci-pr-checks.yml
  .github/workflows/claude-docs-check.yml
  CLAUDE.md
  docs/index.md
  docs/plugins/index.md
  docs/plugins/uniswap-cca.md
  docs/plugins/uniswap-driver.md
  docs/plugins/uniswap-hooks.md
  docs/plugins/uniswap-trading.md
  docs/plugins/uniswap-viem.md
  docs/skills/configurator.md
  docs/skills/deployer.md
  docs/skills/index.md
  docs/skills/liquidity-planner.md
  docs/skills/swap-integration.md
  docs/skills/swap-planner.md
  docs/skills/v4-security-foundations.md
  docs/skills/viem-integration.md
  scripts/validate-docs.cjs
Due: format

style: fix formatting in validate-docs.cjs
  scripts/validate-docs.cjs
Due: none

docs(plugins): add VitePress documentation for all plugins and skills with CI enforcement (#31)
  .claude/rules/documentation.md
  .github/actions/validate-docs/action.yml
  .github/workflows/CLAUDE.md
  .github/workflows/ci-pr-checks.yml
  .github/workflows/claude-docs-check.yml
  CLAUDE.md
  docs/index.md
  docs/plugins/index.md
  docs/plugins/uniswap-cca.md
  docs/plugins/uniswap-driver.md
  docs/plugins/uniswap-hooks.md
  docs/plugins/uniswap-trading.md
  docs/plugins/uniswap-viem.md
  docs/skills/configurator.md
  docs/skills/deployer.md
  docs/skills/index.md
  docs/skills/liquidity-planner.md
  docs/skills/swap-integration.md
  docs/skills/swap-planner.md
  docs/skills/v4-security-foundations.md
  docs/skills/viem-integration.md
  scripts/validate-docs.cjs
Due: format

chore(docs): migrate documentation deployment from GitHub Pages to Vercel
  .github/workflows/CLAUDE.md
  .github/workflows/deploy-docs.yml
  README.md
  docs/public/hackathon/index.html
  vercel.json
Due: format

chore(docs): migrate documentation deployment from GitHub Pages to Vercel (#32)
  .github/workflows/CLAUDE.md
  .github/workflows/deploy-docs.yml
  README.md
  docs/public/hackathon/index.html
  vercel.json
Due: format

style(docs): brand VitePress site with Uniswap Spore design system
  docs/.vitepress/config.ts
  docs/.vitepress/theme/custom.css
  docs/.vitepress/theme/index.ts
  docs/public/favicon.svg
  docs/public/logo.svg
Due: format

style(docs): format CSS after pre-commit hook adjustments
  docs/.vitepress/theme/custom.css
Due: none

style(docs): brand VitePress site with Uniswap Spore design system (#33)
  docs/.vitepress/config.ts
  docs/.vitepress/theme/custom.css
  docs/.vitepress/theme/index.ts
  docs/public/favicon.svg
  docs/public/logo.svg
Due: format

docs: audit and fix documentation for accuracy and integrity
  .markdownlint-cli2.jsonc
  docs/.vitepress/config.ts
  docs/.vitepress/sidebar.ts
  docs/api/index.md
  docs/architecture/index.md
  docs/architecture/monorepo-structure.md
  docs/contributing/index.md
  docs/contributing/pr-workflow.md
  docs/getting-started/index.md
  docs/getting-started/installation.md
  docs/index.md
  docs/plans/eco-81-migration-plan.md
  docs/plugins/creating-plugins.md
  docs/plugins/index.md
  docs/skills/index.md
Due: format

docs: audit and fix documentation for accuracy and integrity (#34)
  .markdownlint-cli2.jsonc
  docs/.vitepress/config.ts
  docs/.vitepress/sidebar.ts
  docs/api/index.md
  docs/architecture/index.md
  docs/architecture/monorepo-structure.md
  docs/contributing/index.md
  docs/contributing/pr-workflow.md
  docs/getting-started/index.md
  docs/getting-started/installation.md
  docs/index.md
  docs/plans/eco-81-migration-plan.md
  docs/plugins/creating-plugins.md
  docs/plugins/index.md
  docs/skills/index.md
Due: format

docs: update plugin install commands to use marketplace and /plugin install
  docs/.vitepress/theme/custom.css
  docs/getting-started/index.md
  docs/getting-started/installation.md
  docs/index.md
  docs/plugins/creating-plugins.md
  docs/plugins/index.md
  docs/plugins/uniswap-cca.md
  docs/plugins/uniswap-driver.md
  docs/plugins/uniswap-hooks.md
  docs/plugins/uniswap-trading.md
  docs/plugins/uniswap-viem.md
Due: format

docs(readme): list all plugins and fix project structure accuracy
  README.md
Due: format

docs: sync CLAUDE.md structure with README.md cleanup
  CLAUDE.md
Due: format

docs(readme): list all plugins and fix project structure accuracy (#35)
  CLAUDE.md
  README.md
Due: format

docs: add hackathon documents and refocus README
  README.md
  repo-docs/OVERVIEW.md
  repo-docs/hackathon/RULES.md
  repo-docs/hackathon/SKILL.md
Due: format

ci: add zizmor GitHub Actions security analysis workflow
  .github/workflows/CLAUDE.md
  .github/workflows/zizmor.yml
Due: format

docs(claude): add repo-docs/ to repository structure diagram
  CLAUDE.md
Due: format

fix(ci): resolve zizmor security findings across all workflows
  .github/workflows/ci-check-pr-title.yml
  .github/workflows/ci-pr-checks.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/evals.yml
  .github/workflows/generate-docs.yml
  .github/workflows/generate-pr-title-description.yml
  .github/workflows/publish-packages.yml
Due: none

fix: resolve zizmor GitHub Actions security findings
  .github/workflows/ci-check-pr-title.yml
  .github/workflows/ci-pr-checks.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-docs-check.yml
  .github/workflows/evals.yml
  .github/workflows/generate-docs.yml
  .github/workflows/generate-pr-title-description.yml
  .github/workflows/publish-packages.yml
Due: none

docs: add hackathon documents and refocus README (#36)
  CLAUDE.md
  README.md
  repo-docs/OVERVIEW.md
  repo-docs/hackathon/RULES.md
  repo-docs/hackathon/SKILL.md
Due: format
