Repository Uniswap/uniswap-ai: changes, and which lefthook commands are due for each by the changed paths.
All: format, eval-coverage

format:
  run: npx nx format:write --uncommitted
  stage_fixed: true

eval-coverage:
  run: npx tsx scripts/check-eval-coverage.ts --staged

fix(ci): mitigate npx bin shadowing in PR-triggered workflows
  .github/workflows/ci-pr-checks.yml
  .github/workflows/evals.yml
Due: none

docs: remove hackathon Vercel website URLs
  README.md
  docs/public/skill.md
  repo-docs/hackathon/RULES.md
  repo-docs/hackathon/SKILL.md
Due: format

docs: remove defunct forum/API sections and fix broken URLs
  docs/public/skill.md
  repo-docs/hackathon/SKILL.md
Due: format

docs: remove defunct forum/API sections and fix broken URLs (#39)
  README.md
  docs/public/skill.md
  repo-docs/hackathon/RULES.md
  repo-docs/hackathon/SKILL.md
Due: format

fix(ci): resolve formatting and semgrep false positives
  .github/workflows/ci-pr-checks.yml
  .github/workflows/publish-packages.yml
  .github/workflows/zizmor.yml
Due: none

fix(ci): correct action SHA/version mismatches flagged by zizmor
  .github/workflows/ci-check-pr-title.yml
  .github/workflows/claude-code-review.yml
Due: none

ci(workflows): add zizmor GitHub Actions security analysis workflow (#37)
  .github/workflows/CLAUDE.md
  .github/workflows/ci-check-pr-title.yml
  .github/workflows/ci-pr-checks.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/evals.yml
  .github/workflows/generate-docs.yml
  .github/workflows/generate-pr-title-description.yml
  .github/workflows/publish-packages.yml
  .github/workflows/zizmor.yml
Due: format

Update hackathon copies
  README.md
  repo-docs/hackathon/RULES.md
Due: format

small v4 fix
  README.md
  repo-docs/hackathon/RULES.md
Due: format

Update AI Hackathon Rules and Home Page (#48)
  README.md
  repo-docs/hackathon/RULES.md
Due: format

fix(docs): update Vercel docs URL and remove ai-toolkit references
  .github/workflows/CLAUDE.md
  CLAUDE.md
  README.md
  docs/public/hackathon/index.html
  repo-docs/OVERVIEW.md
Due: format

style(readme): fix pre-existing Prettier formatting issues
  README.md
Due: format

fix(ci): scope format:check to PR-changed files only
  .github/workflows/ci-pr-checks.yml
Due: none

fix(ci): add id-token: write permission for Claude reusable workflows
  .github/workflows/claude-code-review.yml
  .github/workflows/generate-pr-title-description.yml
Due: none

fix(ci): add id-token: write permission for Claude reusable workflows (#50)
  .github/workflows/claude-code-review.yml
  .github/workflows/generate-pr-title-description.yml
Due: none

fix(evals): replace --- prompt separator and fix Nunjucks rendering
  evals/suites/aggregator-hook-creator/prompt-wrapper.txt
  evals/suites/configurator/prompt-wrapper.txt
  evals/suites/deployer/prompt-wrapper.txt
  evals/suites/liquidity-planner/prompt-wrapper.js
  evals/suites/liquidity-planner/prompt-wrapper.txt
  evals/suites/liquidity-planner/promptfoo.yaml
  evals/suites/swap-integration/prompt-wrapper.txt
  evals/suites/swap-planner/prompt-wrapper.txt
  evals/suites/v4-security-foundations/prompt-wrapper.txt
  evals/suites/viem-integration/prompt-wrapper.txt
  evals/templates/suite/prompt-wrapper.txt.template
Due: format

fix(evals): inject skill context into all eval suites and fix template errors
  docs/plugins/uniswap-driver.md
  docs/skills/swap-planner.md
  evals/suites/aggregator-hook-creator/prompt-wrapper.txt
  evals/suites/aggregator-hook-creator/promptfoo.yaml
  evals/suites/configurator/prompt-wrapper.txt
  evals/suites/configurator/promptfoo.yaml
  evals/suites/deployer/prompt-wrapper.txt
  evals/suites/deployer/promptfoo.yaml
  evals/suites/liquidity-planner/prompt-wrapper.js
  evals/suites/liquidity-planner/promptfoo.yaml
  evals/suites/swap-integration/prompt-wrapper.txt
  evals/suites/swap-integration/promptfoo.yaml
  evals/suites/viem-integration/prompt-wrapper.txt
  evals/suites/viem-integration/promptfoo.yaml
  evals/templates/suite/README.md
  evals/templates/suite/prompt-wrapper.txt.template
  evals/templates/suite/promptfoo.yaml.template
  packages/plugins/uniswap-driver/README.md
  packages/plugins/uniswap-driver/skills/liquidity-planner/SKILL.md
  packages/plugins/uniswap-driver/skills/liquidity-planner/references/data-providers.md
  packages/plugins/uniswap-driver/skills/swap-planner/references/data-providers.md
Due: format, eval-coverage

docs(CLAUDE.md): add eval prompt template pitfalls
  CLAUDE.md
Due: format

fix(swap-planner): add Unichain support and DexScreener network IDs
  packages/plugins/uniswap-driver/.claude-plugin/plugin.json
  packages/plugins/uniswap-driver/CLAUDE.md
  packages/plugins/uniswap-driver/references/chains.md
  packages/plugins/uniswap-driver/skills/swap-planner/SKILL.md
Due: format, eval-coverage

fix(evals): address assertion failures across 4 suites
  evals/suites/configurator/cases/basic-configuration.md
  evals/suites/configurator/promptfoo.yaml
  evals/suites/configurator/rubrics/completeness.txt
  evals/suites/liquidity-planner/cases/full-range-v2.md
  evals/suites/liquidity-planner/cases/v4-position.md
  evals/suites/swap-integration/promptfoo.yaml
  evals/suites/viem-integration/promptfoo.yaml
  evals/suites/viem-integration/rubrics/wagmi-completeness.txt
  evals/suites/viem-integration/rubrics/wagmi-correctness.txt
Due: format

docs(evals): document prompt separator and Nunjucks rendering pitfalls
  evals/README.md
Due: format

fix(evals): inject skill context into all eval suites and add Unichain support (#40)
  CLAUDE.md
  docs/plugins/uniswap-driver.md
  docs/skills/swap-planner.md
  evals/README.md
  evals/suites/aggregator-hook-creator/prompt-wrapper.txt
  evals/suites/aggregator-hook-creator/promptfoo.yaml
  evals/suites/configurator/cases/basic-configuration.md
  evals/suites/configurator/prompt-wrapper.txt
  evals/suites/configurator/promptfoo.yaml
  evals/suites/configurator/rubrics/completeness.txt
  evals/suites/deployer/prompt-wrapper.txt
  evals/suites/deployer/promptfoo.yaml
  evals/suites/liquidity-planner/cases/full-range-v2.md
  evals/suites/liquidity-planner/cases/v4-position.md
  evals/suites/liquidity-planner/prompt-wrapper.js
  evals/suites/liquidity-planner/promptfoo.yaml
  evals/suites/swap-integration/prompt-wrapper.txt
  evals/suites/swap-integration/promptfoo.yaml
  evals/suites/swap-planner/prompt-wrapper.txt
  evals/suites/v4-security-foundations/prompt-wrapper.txt
  evals/suites/viem-integration/prompt-wrapper.txt
  evals/suites/viem-integration/promptfoo.yaml
  evals/suites/viem-integration/rubrics/wagmi-completeness.txt
  evals/suites/viem-integration/rubrics/wagmi-correctness.txt
  evals/templates/suite/README.md
  evals/templates/suite/prompt-wrapper.txt.template
  evals/templates/suite/promptfoo.yaml.template
  packages/plugins/uniswap-driver/.claude-plugin/plugin.json
  packages/plugins/uniswap-driver/CLAUDE.md
  packages/plugins/uniswap-driver/README.md
  packages/plugins/uniswap-driver/references/chains.md
  packages/plugins/uniswap-driver/skills/liquidity-planner/SKILL.md
  packages/plugins/uniswap-driver/skills/liquidity-planner/references/data-providers.md
  packages/plugins/uniswap-driver/skills/swap-planner/SKILL.md
  packages/plugins/uniswap-driver/skills/swap-planner/references/data-providers.md
Due: format, eval-coverage

fix(liquidity-planner): add AskUserQuestion runtime fallback note
  packages/plugins/uniswap-driver/skills/liquidity-planner/SKILL.md
Due: format, eval-coverage

docs(liquidity-planner): add runtime compatibility note
  docs/skills/liquidity-planner.md
Due: format

fix(uniswap-driver): bump version to 0.3.1 for docs update
  packages/plugins/uniswap-driver/.claude-plugin/plugin.json
Due: format, eval-coverage

docs(liquidity-planner): add runtime compatibility note for AskUserQuestion fallback (#41)
  docs/skills/liquidity-planner.md
  packages/plugins/uniswap-driver/.claude-plugin/plugin.json
  packages/plugins/uniswap-driver/skills/liquidity-planner/SKILL.md
Due: format, eval-coverage

fix(swap-integration): document Trading API key acquisition
  packages/plugins/uniswap-trading/.claude-plugin/plugin.json
  packages/plugins/uniswap-trading/skills/swap-integration/SKILL.md
Due: format, eval-coverage

fix(aggregator-hook-creator): implement _calculateDelta, add access control and tests
  packages/plugins/uniswap-hooks/.claude-plugin/plugin.json
  packages/plugins/uniswap-hooks/skills/aggregator-hook-creator/SKILL.md
  packages/plugins/uniswap-hooks/skills/aggregator-hook-creator/references/implementations.md
Due: format, eval-coverage

fix(uniswap-hooks): bump version to 1.4.1 for docs update
  packages/plugins/uniswap-hooks/.claude-plugin/plugin.json
Due: format, eval-coverage

docs(v4-security-foundations): add tx.origin phishing to threat model
  docs/skills/v4-security-foundations.md
Due: format

fix(v4-security-foundations): add tx.origin prohibition
  packages/plugins/uniswap-hooks/skills/v4-security-foundations/SKILL.md
Due: format, eval-coverage

fix(swap-integration): document Trading API key acquisition (#42)
  packages/plugins/uniswap-trading/.claude-plugin/plugin.json
  packages/plugins/uniswap-trading/skills/swap-integration/SKILL.md
Due: format, eval-coverage

fix(aggregator-hook-creator): implement _calculateDelta, add access control and tests (#43)
  packages/plugins/uniswap-hooks/.claude-plugin/plugin.json
  packages/plugins/uniswap-hooks/skills/aggregator-hook-creator/SKILL.md
  packages/plugins/uniswap-hooks/skills/aggregator-hook-creator/references/implementations.md
Due: format, eval-coverage

docs(v4-security-foundations): add tx.origin phishing to threat model (#44)
  docs/skills/v4-security-foundations.md
  packages/plugins/uniswap-hooks/.claude-plugin/plugin.json
  packages/plugins/uniswap-hooks/skills/v4-security-foundations/SKILL.md
Due: format, eval-coverage

Path conditions:
  format: any of: *.{js,ts,tsx,json,md}
  eval-coverage: any of: packages/plugins/**/*
