Repository Uniswap/uniswap-ai: changes, and which lefthook commands are due for each by the changed paths.
All: format, eval-coverage

format:
  run: npx nx format:write --uncommitted
  stage_fixed: true

eval-coverage:
  run: npx tsx scripts/check-eval-coverage.ts --staged

fix(scripts): use correct lefthook version command syntax
  scripts/prepare.cjs
Due: none

feat(uniswap-hooks): add v4-security-foundations skill
  packages/plugins/uniswap-hooks/.claude-plugin/plugin.json
  packages/plugins/uniswap-hooks/CLAUDE.md
  packages/plugins/uniswap-hooks/README.md
  packages/plugins/uniswap-hooks/skills/aggregator-hook-creator/aggregator-hook-creator.md
  packages/plugins/uniswap-hooks/skills/v4-security-foundations/SKILL.md
  packages/plugins/uniswap-hooks/skills/v4-security-foundations/references/audit-checklist.md
  packages/plugins/uniswap-hooks/skills/v4-security-foundations/references/base-hook-template.md
  packages/plugins/uniswap-hooks/skills/v4-security-foundations/references/vulnerabilities-catalog.md
  packages/plugins/uniswap-hooks/skills/v4-security-foundations/v4-security-foundations.md
Due: format, eval-coverage

fix(uniswap-hooks): improve security skill code examples and consistency
  packages/plugins/uniswap-hooks/skills/v4-security-foundations/references/base-hook-template.md
  packages/plugins/uniswap-hooks/skills/v4-security-foundations/references/vulnerabilities-catalog.md
  packages/plugins/uniswap-hooks/skills/v4-security-foundations/v4-security-foundations.md
Due: format, eval-coverage

docs(uniswap-hooks): update CLAUDE.md file structure with v4-security-foundations
  packages/plugins/uniswap-hooks/CLAUDE.md
Due: format, eval-coverage

feat(evals): add v4-security-foundations eval suite
  evals/suites/v4-security-foundations/README.md
  evals/suites/v4-security-foundations/cases/access-control-patterns.md
  evals/suites/v4-security-foundations/cases/delta-accounting-understanding.md
  evals/suites/v4-security-foundations/cases/noop-rug-pull-identification.md
  evals/suites/v4-security-foundations/cases/permission-flags-risk-assessment.md
  evals/suites/v4-security-foundations/cases/security-checklist-completeness.md
  evals/suites/v4-security-foundations/promptfoo.yaml
  evals/suites/v4-security-foundations/rubrics/access-control-correctness.txt
  evals/suites/v4-security-foundations/rubrics/checklist-completeness.txt
  evals/suites/v4-security-foundations/rubrics/delta-accounting-accuracy.txt
  evals/suites/v4-security-foundations/rubrics/noop-attack-understanding.txt
  evals/suites/v4-security-foundations/rubrics/risk-assessment-quality.txt
Due: format

fix: feedback
  packages/plugins/uniswap-cca/.claude-plugin/plugin.json
  packages/plugins/uniswap-cca/mcp-server/README.md
  packages/plugins/uniswap-cca/mcp-server/supply-schedule/server.py
  packages/plugins/uniswap-cca/mcp-server/supply-schedule/test_logic.py
  packages/plugins/uniswap-cca/skills/deployer/deployer.md
Due: format, eval-coverage

fix(uniswap-hooks): address PR review feedback for v4-security-foundations
  evals/suites/v4-security-foundations/cases/combined-vulnerability-code-review.md
  evals/suites/v4-security-foundations/cases/delta-accounting-edge-cases.md
  evals/suites/v4-security-foundations/promptfoo.yaml
  evals/suites/v4-security-foundations/rubrics/combined-vulnerability-detection.txt
  evals/suites/v4-security-foundations/rubrics/delta-edge-case-handling.txt
  packages/plugins/uniswap-hooks/skills/v4-security-foundations/references/vulnerabilities-catalog.md
  packages/plugins/uniswap-hooks/skills/v4-security-foundations/v4-security-foundations.md
Due: format, eval-coverage

fix(uniswap-hooks): revert model to opus for security skill
  packages/plugins/uniswap-hooks/skills/v4-security-foundations/v4-security-foundations.md
Due: format, eval-coverage

chore(evals): update model references to latest versions
  docs/evals/running-evals.md
  docs/evals/writing-evals.md
  evals/README.md
  evals/promptfoo.yaml
  evals/scripts/anthropic-provider.ts
  evals/suites/aggregator-hook-creator/eval.config.ts
  evals/suites/aggregator-hook-creator/promptfoo.yaml
  evals/templates/suite/promptfoo.yaml.template
Due: format

feat(uniswap-hooks): add v4-security-foundations skill and eval suite (#11)
  evals/suites/v4-security-foundations/README.md
  evals/suites/v4-security-foundations/cases/access-control-patterns.md
  evals/suites/v4-security-foundations/cases/combined-vulnerability-code-review.md
  evals/suites/v4-security-foundations/cases/delta-accounting-edge-cases.md
  evals/suites/v4-security-foundations/cases/delta-accounting-understanding.md
  evals/suites/v4-security-foundations/cases/noop-rug-pull-identification.md
  evals/suites/v4-security-foundations/cases/permission-flags-risk-assessment.md
  evals/suites/v4-security-foundations/cases/security-checklist-completeness.md
  evals/suites/v4-security-foundations/promptfoo.yaml
  evals/suites/v4-security-foundations/rubrics/access-control-correctness.txt
  evals/suites/v4-security-foundations/rubrics/checklist-completeness.txt
  evals/suites/v4-security-foundations/rubrics/combined-vulnerability-detection.txt
  evals/suites/v4-security-foundations/rubrics/delta-accounting-accuracy.txt
  evals/suites/v4-security-foundations/rubrics/delta-edge-case-handling.txt
  evals/suites/v4-security-foundations/rubrics/noop-attack-understanding.txt
  evals/suites/v4-security-foundations/rubrics/risk-assessment-quality.txt
  packages/plugins/uniswap-hooks/.claude-plugin/plugin.json
  packages/plugins/uniswap-hooks/CLAUDE.md
  packages/plugins/uniswap-hooks/README.md
  packages/plugins/uniswap-hooks/skills/aggregator-hook-creator/aggregator-hook-creator.md
  packages/plugins/uniswap-hooks/skills/v4-security-foundations/SKILL.md
  packages/plugins/uniswap-hooks/skills/v4-security-foundations/references/audit-checklist.md
  packages/plugins/uniswap-hooks/skills/v4-security-foundations/references/base-hook-template.md
  packages/plugins/uniswap-hooks/skills/v4-security-foundations/references/vulnerabilities-catalog.md
  packages/plugins/uniswap-hooks/skills/v4-security-foundations/v4-security-foundations.md
Due: format, eval-coverage

fix(evals): correct model pricing for Opus 4.6 and Haiku 4.5
  evals/scripts/anthropic-provider.ts
Due: format

fix(evals): use valid Anthropic model identifiers
  docs/evals/running-evals.md
  docs/evals/writing-evals.md
  evals/README.md
  evals/promptfoo.yaml
  evals/scripts/anthropic-provider.ts
  evals/suites/aggregator-hook-creator/eval.config.ts
  evals/suites/aggregator-hook-creator/promptfoo.yaml
  evals/templates/suite/promptfoo.yaml.template
Due: format

fix(evals): fix v4-security-foundations cross-product test issue
  evals/suites/v4-security-foundations/README.md
  evals/suites/v4-security-foundations/cases/access-control-patterns.md
  evals/suites/v4-security-foundations/cases/combined-vulnerability-code-review.md
  evals/suites/v4-security-foundations/cases/delta-accounting-edge-cases.md
  evals/suites/v4-security-foundations/cases/delta-accounting-understanding.md
  evals/suites/v4-security-foundations/cases/noop-rug-pull-identification.md
  evals/suites/v4-security-foundations/cases/permission-flags-risk-assessment.md
  evals/suites/v4-security-foundations/cases/security-checklist-completeness.md
  evals/suites/v4-security-foundations/promptfoo.yaml
  evals/suites/v4-security-foundations/rubrics/access-control-correctness.txt
  evals/suites/v4-security-foundations/rubrics/checklist-completeness.txt
  evals/suites/v4-security-foundations/rubrics/combined-vulnerability-detection.txt
  evals/suites/v4-security-foundations/rubrics/delta-accounting-accuracy.txt
  evals/suites/v4-security-foundations/rubrics/delta-edge-case-handling.txt
  evals/suites/v4-security-foundations/rubrics/noop-attack-understanding.txt
  evals/suites/v4-security-foundations/rubrics/risk-assessment-quality.txt
Due: format

chore(evals): update model references to latest snapshot IDs (#12)
  docs/evals/running-evals.md
  docs/evals/writing-evals.md
  evals/README.md
  evals/promptfoo.yaml
  evals/scripts/anthropic-provider.ts
  evals/suites/aggregator-hook-creator/eval.config.ts
  evals/suites/aggregator-hook-creator/promptfoo.yaml
  evals/suites/v4-security-foundations/promptfoo.yaml
  evals/templates/suite/promptfoo.yaml.template
Due: format

fix: use lowercase org name in GitHub URLs
  .claude-plugin/marketplace.json
  README.md
  docs/.vitepress/config.ts
  docs/getting-started/index.md
  docs/getting-started/installation.md
  docs/index.md
  docs/skills/index.md
  packages/plugins/uniswap-hooks/.claude-plugin/plugin.json
  packages/plugins/uniswap-hooks/README.md
  packages/plugins/uniswap-hooks/package.json
Due: format, eval-coverage

feat(docs): add TypeDoc setup for API documentation generation
  docs/api/.gitkeep
  package.json
  typedoc.json
Due: format

feat(docs): add Nx targets for documentation build pipeline
  .github/workflows/deploy-docs.yml
  docs/project.json
  package.json
Due: format

feat(docs): add dynamic sidebar generation from filesystem
  docs/.vitepress/config.ts
  docs/.vitepress/sidebar.ts
  docs/evals/index.md
  docs/evals/running-evals.md
  docs/evals/writing-evals.md
  docs/getting-started/index.md
  docs/getting-started/installation.md
  docs/getting-started/quick-start.md
  docs/skills/aggregator-hook-creator.md
  docs/skills/index.md
  package.json
Due: format

feat(ci): add workflow for automatic API documentation generation
  .github/workflows/generate-docs.yml
Due: none

feat(docs): add Vale prose linting for documentation quality
  .github/vale/styles/Vocab/Uniswap/accept.txt
  .github/vale/styles/Vocab/Uniswap/reject.txt
  .github/workflows/ci-pr-checks.yml
  .vale.ini
  package.json
Due: format

docs: add architecture, contributing, and plugins documentation
  docs/.vitepress/config.ts
  docs/.vitepress/sidebar.ts
  docs/architecture/index.md
  docs/architecture/monorepo-structure.md
  docs/contributing/index.md
  docs/contributing/pr-workflow.md
  docs/plugins/creating-plugins.md
  docs/plugins/index.md
Due: format

refactor(docs): use Nx target for TypeDoc generation
  evals/project.json
  package.json
Due: format

chore(uniswap-hooks): bump version to 1.1.1
  packages/plugins/uniswap-hooks/.claude-plugin/plugin.json
Due: format, eval-coverage

fix(deps): upgrade typedoc to support TypeScript 5.9
  package-lock.json
  package.json
Due: format

fix(docs): use lowercase org name in GitHub URLs (#13)
  .claude-plugin/marketplace.json
  README.md
  docs/.vitepress/config.ts
  docs/getting-started/index.md
  docs/getting-started/installation.md
  docs/index.md
  docs/skills/index.md
  packages/plugins/uniswap-hooks/.claude-plugin/plugin.json
  packages/plugins/uniswap-hooks/README.md
  packages/plugins/uniswap-hooks/package.json
Due: format, eval-coverage

feat(docs): add TypeDoc setup for API documentation generation (#14)
  docs/api/.gitkeep
  evals/project.json
  package-lock.json
  package.json
  typedoc.json
Due: format

refactor(docs): consolidate generate-api-docs to use evals target
  docs/project.json
Due: format

feat(docs): add Nx targets for documentation build pipeline (#15)
  .github/workflows/deploy-docs.yml
  docs/project.json
  package.json
Due: format

fix(ci): prevent evals workflow from staying pending on unrelated PRs
  .github/workflows/evals.yml
Due: none

fix(ci): prevent evals workflow from staying pending on unrelated PRs (#20)
  .github/workflows/evals.yml
Due: none

style: fix markdown table formatting
  docs/evals/index.md
  docs/skills/aggregator-hook-creator.md
Due: format

chore: add .prettierignore for auto-generated docs
  .prettierignore
Due: none

fix(docs): address PR review comments for sidebar generator
  docs/.vitepress/sidebar.ts
  docs/api/.gitkeep
  docs/api/index.md
  package-lock.json
  package.json
Due: format

fix(ci): address security vulnerabilities in generate-docs workflow
  .github/workflows/generate-docs.yml
Due: none

feat(docs): add Vale prose linting for documentation quality
  .github/vale/styles/Vocab/Uniswap/accept.txt
  .github/vale/styles/Vocab/Uniswap/reject.txt
  .github/workflows/CLAUDE.md
  .github/workflows/ci-pr-checks.yml
  .vale.ini
  CLAUDE.md
  README.md
  package.json
Due: format

fix(docs): remove references to non-existent sdk and utils directories
  docs/architecture/index.md
  docs/architecture/monorepo-structure.md
  docs/getting-started/index.md
Due: format

Path conditions:
  format: any of: *.{js,ts,tsx,json,md}
  eval-coverage: any of: packages/plugins/**/*
